{% extends 'nunjucks/templates/base.njk' %}
{% import "nunjucks/macros/games/navigation.njk" as navigation %}
{% import "nunjucks/macros/games/typography.njk" as typography %}

{% block title %}Arcade games{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/games.css">
{% endblock %}

{% block header %}
    {% include 'nunjucks/partials/topnav.njk' %}
{% endblock %}

{% block main %}
    <div class="games-main-wrapper">

        {{ typography.mainHeading('Arcade Games')}}
        {{ navigation.indexNavRow([
            {href: '/games/arcade/capitalism', title: 'Capitalism', img: '/images/games/arcade/capitalism/moneybag.jpg'}
        ]) }}
    </div>
{% endblock %}

{% block footer %}
{% include "nunjucks/partials/footer.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
