{{ code.exampleCodeBlock('j', 1, [
    {i: 0, t: 'vkv', c: ['(', 'function', '() {']},
    {i: 4, t: 'kvodxvsv', c: ['var', ' canvas ', '= ', 'document', 'getElementById', '(', '\'exampleCanvas\'', ');']},
    {i: 4, t: 'kvodxvsv', c: ['var', ' ctx ', '= ', 'canvas', 'getContext', '(', '\'2d\'', ');']},
    {i: 4, t: 'kvodpv', c: ['var', ' width ', '= ', 'canvas', 'width', ';']},
    {i: 4, t: 'kvodpv', c: ['var', ' height ', '= ', 'canvas', 'height', ';']},
    {i: 4, t: 'kvonv', c: ['var', ' lastTime ', '= ', '0', ';']},
    {i: 4, t: 'kvonv', c: ['var', ' totalTime ', '= ', '0', ';']},
    {i: 4, t: 'kvocvponv', c: ['var', ' twoPi ', '= ', 'Math', '.', 'PI', ' * ', '2', ';']},
    {i: 4, t: 'kvonv', c: ['var', ' spinnerParts ', '= ', '16', ';']},
    {i: 4, t: 'kvonv', c: ['var', ' spinnerRadius ', '= ', '50', ';']},
    {i: 4, t: 'kvovovovonv', c: ['var', ' spinnerPartRadus ', '= ', '(twoPi', ' * ', 'spinnerRadius', ' / ', 'spinnerParts)', ' / ', '2',  ';']},
    {i: 0, t: 'v', c: ['})();']},
    {}
])}}
