{{ code.exampleCodeBlock('j', 14, [
    {i: 0, t: 'kmv', c: ['function', ' renderSpinner', '() {']},
    {i: 4, t: 'kvovovmvov', c: ['var ', 'rotation', ' = ', '(totalTime', ' * ', 'spinnerParts).', 'toFixed', '()', ' / ', 'spinnerParts;']},
    {i: 4, t: 'dmv', c: ['ctx', 'save', '();']},
    {i: 4, t: 'dmvonvonv', c: ['ctx', 'translate', '(width', ' / ', '2', ', height', ' / ', '2', ');']},
    {i: 4, t: 'dmvov', c: ['ctx', 'rotate', '(rotation', ' * ', 'twoPi);']},
    {i: 4, t: 'kvkvonvovov', c: ['for', '(', 'var ', 'i', ' = ', '0', '; i', ' < ', 'spinnerParts; i', '++', ') {']},
    {i: 8, t: 'dmv', c: ['ctx', 'beginPath', '();']},
    {i: 8, t: 'dmvov', c: ['ctx', 'rotate', '(twoPi', ' / ', 'spinnerParts);']},
    {i: 8, t: 'dposovovosv', c: ['ctx', 'fillStyle',  ' = ', '\'rgba(77, 77, 77,\'', ' + ', 'i', ' / ', 'spinnerParts', ' + ', '\')\'', ';']},
    {i: 8, t: 'dmvnvnv', c: ['ctx', 'arc', '(spinnerRadius, ', '0', ', spinnerPartRadius, ', '0', ', ', 'twoPi);']},
    {i: 8, t: 'dmv', c: ['ctx', 'fill', '();']},
    {i: 4, t: 'v', c: ['}']},
    {i: 4, t: 'dmv', c: ['ctx', 'restore', '();']},
    {i: 0, t: 'v', c: ['}']},
    {}
])}}
