<div id="fullCodeJs" class="full-code-js js-hidden">
    {{ code.exampleCodeBlock('j', 1, [
        {i: 0, t: 'vkv', c: ['(', 'function', '() {']},
        {i: 4, t: 'kvodxvsv', c: ['var', ' canvas ', '= ', 'document', 'getElementById', '(', '\'exampleCanvas\'', ');']},
        {i: 4, t: 'kvodxvsv', c: ['var', ' ctx ', '= ', 'canvas', 'getContext', '(', '\'2d\'', ');']},
        {i: 4, t: 'kvodpv', c: ['var', ' width ', '= ', 'canvas', 'width', ';']},
        {i: 4, t: 'kvodpv', c: ['var', ' height ', '= ', 'canvas', 'height', ';']},
        {i: 4, t: 'kvonv', c: ['var', ' lastTime ', '= ', '0', ';']},
        {i: 4, t: 'kvonv', c: ['var', ' totalTime ', '= ', '0', ';']},
        {i: 4, t: 'kvocvponv', c: ['var', ' twoPi ', '= ', 'Math', '.', 'PI', ' * ', '2', ';']},
        {i: 4, t: 'kvonv', c: ['var', ' spinnerParts ', '= ', '16', ';']},
        {i: 4, t: 'kvonv', c: ['var', ' spinnerRadius ', '= ', '50', ';']},
        {i: 4, t: 'kvovovovonv', c: ['var', ' spinnerPartRadus ', '= ', '(twoPi', ' * ', 'spinnerRadius', ' / ', 'spinnerParts)', ' / ', '2',  ';']},
        {},
        {i: 4, t: 'kmv', c: ['function', ' manageTime', '(time) {']},
        {i: 8, t: 'vovovonv', c: ['totalTime', ' += ', '(time', ' - ', 'lastTime)', ' / ', '1000', ';']},
        {i: 8, t: 'vov', c: ['lastTime', ' = ', 'time;']},
        {i: 4, t: 'v', c: ['}']},
        {},
        {i: 4, t: 'kmv', c: ['function', ' renderSpinner', '() {']},
        {i: 8, t: 'kvovovmvov', c: ['var ', 'rotation', ' = ', '(totalTime', ' * ', 'spinnerParts).', 'toFixed', '()', ' / ', 'spinnerParts;']},
        {i: 8, t: 'dmv', c: ['ctx', 'save', '();']},
        {i: 8, t: 'dmvonvonv', c: ['ctx', 'translate', '(width', ' / ', '2', ', height', ' / ', '2', ');']},
        {i: 8, t: 'dmvov', c: ['ctx', 'rotate', '(rotation', ' * ', 'twoPi);']},
        {i: 8, t: 'kvkvonvovov', c: ['for', '(', 'var ', 'i', ' = ', '0', '; i', ' < ', 'spinnerParts; i', '++', ') {']},
        {i: 12, t: 'dmv', c: ['ctx', 'beginPath', '();']},
        {i: 12, t: 'dmvov', c: ['ctx', 'rotate', '(twoPi', ' / ', 'spinnerParts);']},
        {i: 12, t: 'dposovovosv', c: ['ctx', 'fillStyle',  ' = ', '\'rgba(77, 77, 77,\'', ' + ', 'i', ' / ', 'spinnerParts', ' + ', '\')\'', ';']},
        {i: 12, t: 'dmvnvnv', c: ['ctx', 'arc', '(spinnerRadius, ', '0', ', spinnerPartRadius, ', '0', ', ', 'twoPi);']},
        {i: 12, t: 'dmv', c: ['ctx', 'fill', '();']},
        {i: 12, t: 'v', c: ['}']},
        {i: 8, t: 'dmv', c: ['ctx', 'restore', '();']},
        {i: 4, t: 'v', c: ['}']},
        {},
        {i: 4, t: 'kmv', c: ['function', ' main', '(time) {']},
        {i: 8, t: 'mv', c: ['manageTime', '(time);']},
        {i: 8, t: 'dpvnvnv', c: ['ctx', 'clearRect', '(', '0', ', ', '0', ', width, height);']},
        {i: 8, t: 'mv', c: ['renderSpinner', '();']},
        {i: 8, t: 'mv', c: ['requestAnimationFrame', '(main);']},
        {i: 4, t: 'v', c: ['}']},
        {},
        {i: 4, t: 'mv', c: ['requestAnimationFrame', '(main);']},
        {},
        {i: 0, t: 'v', c: ['})();']},
        {}
    ])}}
])}}
</div>
