.centred-display-canvas {
    display: block;
    max-width: 100%;
    margin: 0 auto 2rem;
    border: 5px solid #414042;
    border-radius: 5px;
    background-color: $black;
    box-sizing: border-box;
    padding: 0;
}

.centred-empty-display-canvas {
    display: block;
    max-width: 100%;
    margin: 0 auto 2rem;
    border: 5px solid #414042;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0;
}

.space-background-tutorial-canvas {
    background-image: url('/images/tutorials/space.jpg');
}
