// ln = line number

// k = keyword
// o = operator
// n = number
// s = string
// m = method
// x = known method
// p = property
// v = variable
// d = dotted-property
// c = class
// z = note

.demo-canvas {
    box-sizing: border-box;
    min-width: 45vw;
    max-width: 100%;
    width: 700px;
}

.full-code-wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    background-color: grey;
    min-width: 45vw;
    max-width: 100%;
    width: 700px;
}

.tutorial-code-pre {
    overflow: scroll;
}

.terminal-line-wrapper {
    box-sizing: border-box;
    background-color: #282c34;
    color: #abb2bf;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 0;
    max-width: 100%;
    width: 700px;
    overflow: scroll;
    min-width: 45vw;
    max-height: 80vh;
    line-height: 1.4;
    font-family: Menlo Inconsolata, Monaco, Consolas, 'Courier New', Courier;
    font-size: calc(8px + .75vmin);
    -ms-overflow-style: none;
}

.tutorial-code-block {
    box-sizing: border-box;
    background-color: #282c34;
    border-right: 10px solid #282c34;
    color: #abb2bf;
    margin-bottom: 1rem;
    padding: 0 0 1rem .25rem;
    max-width: 100%;
    width: 700px;
    overflow: scroll;
    min-width: 45vw;
    max-height: 80vh;
    line-height: 1.4;
    font-family: Menlo Inconsolata, Monaco, Consolas, 'Courier New', Courier;
    font-size: calc(8px + .75vmin);
    -ms-overflow-style: none;
}

.full-code-wrapper .tutorial-code-block {
    margin: 0;
}

.tutorial-code-block-j {
    background-image: url('../icons/javascript.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right 5px top 5px;
}

.tutorial-code-block-c {
    background-image: url('../icons/css.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right 5px top 5px;
}

.tutorial-code-block-h {
    background-image: url('../icons/html.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right 5px top 5px;
}

.full-code-buttons {
    float: right;
    padding: 0;
};

.full-code-selector {
    outline: 0;
    width: 70px;
    height: 100%;
    font-size: calc(8px + 1vmin);
    border: 0;
    margin: 0;
    padding: .75rem .5rem;
    background-color: grey;
}

.active-code-selector {
    background-color: darkgrey;
}

.c-j-v,
.c-h-v {
    color: #abb2bf;
}

.c-j-k,
.c-h-k {
    color: #c678dd;
}

.c-j-n,
.c-h-n {
    color: #d19a66;
}

.c-j-o,
.c-h-o {
    color: #54b2be;
}

.c-j-p,
.c-h-p {
    color: #e06c75;
}

.c-j-d,
.c-h-d {
    color: #e06c75;
}

.c-j-x,
.c-h-x {
    color: #56b6c2;
}

.c-j-m,
.c-h-m {
    color: #61afef;
}

.c-j-s,
.c-h-s {
    color: #98c379;
}

.c-j-z,
.c-h-z {
    color: #5c6370;
}

.c-ln {
    margin-right: 1rem;
    color: #4b5364;
}

.c-j-c {
    color: #e5c07b;
}

[data-c-ln]::before {
    width: 50px;
    display: inline-block;
    text-align: right;
    padding: 0 .75rem 0 .5rem;
    content: attr(data-c-ln);
    color: #4b5364;
    margin-right: .25rem;
}

.terminal-line-span::before {
    width: 50px;
    display: inline-block;
    text-align: right;
    padding: 0 .75rem 0 .5rem;
    content: '$';
    color: #4b5364;
    margin-right: .25rem;
}



// Prism Atom dark
code[class*='language-'],
pre[class*='language-'] {
  color: #abb2bf;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #383e49;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: #9aa2b1;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

pre[class*='language-'] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #282c34;
}

:not(pre) > code[class*='language-'] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5c6370;
}

.token.punctuation {
  color: #abb2bf;
}

.token.selector,
.token.tag {
  color: #e06c75;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: #d19a66;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: #98c379;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #56b6c2;
}

.token.atrule,
.token.keyword {
  color: #c678dd;
}

.token.function {
  color: #61afef;
}

.token.regex,
.token.important,
.token.variable {
  color: #c678dd;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em;
	letter-spacing: -1px;
	border-right: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span::before {
	content: counter(linenumber);
	color: #5c6370;
	display: block;
	padding-right: .8em;
	text-align: right;
}
