{{ code.exampleCodeBlock('j', 1, [
    {i: 0, t: 'kvodxvsv', c: ['var', ' canvas ', '= ', 'document', 'getElementById', '(', '\'demoCanvas\'', ');']},
    {i: 0, t: 'kvodpv', c: ['var', ' width ', '= ', 'canvas', 'width', ';']},
    {i: 0, t: 'kvodpv', c: ['var', ' height ', '= ', 'canvas', 'height', ';']},
    {i: 0, t: 'kvodxvsv', c: ['var', ' ctx ', '= ', 'canvas', 'getContext', '(', '\'2d\'', ');']},
    {i: 0, t: 'kvonv', c: ['var', ' padding ', '= ', '40', ';']},
    {i: 0, t: 'kvonv', c: ['var', ' lastTime ', '= ', '0', ';']},
    {i: 0, t: 'kvonv', c: ['var', ' deltaTime ', '= ', '0', ';']},
    {i: 0, t: 'kvonv', c: ['var', ' gameTime ', '= ', '0', ';']},
    {i: 0, t: 'kvonv', c: ['var', ' gameTimer ', '= ', '10', ';']},
    {i: 0, t: 'kvv', c: ['var', ' animation', ';']},
    {},
    {i: 0, t: 'dposv', c: ['ctx', 'font', ' = ', '\'6vmin Impact\'', ';']},
    {i: 0, t: 'dposv', c: ['ctx', 'textAlign', ' = ', '\'center\'', ';']},
    {i: 0, t: 'dposv', c: ['ctx', 'textBaseline', ' = ', '\'bottom\'', ';']}
])}}
