{{ code.exampleCodeBlock('j', 28, [
    {i: 0, t: 'kmv', c: ['function', ' renderGameTimer', '() {']},
    {i: 4, t: 'kvonovov', c: ['var', ' hue', ' = ', '120', ' * ', '(gameTimer', ' / ', 'gameTime);']},
    {i: 4, t: 'kvovovovov', c: ['var', ' currentTimeWidth', ' = ', '(width', ' - ', 'padding)', ' * ', '(gameTimer', ' - ', 'gameTime);']},
    {i: 4, t: 'dposv', c: ['ctx', 'fillStyle', ' = ', '\'rgba(188, 188, 188, 0.6)\'', ';']},
    {i: 4, t: 'dmv', c: ['ctx', 'beginPath', '();']},
    {i: 4, t: 'dmvonvonvovnv', c: ['ctx', 'rect', '(padding', ' / ', '2', ', height', ' - ', '50', ', width', ' - ', 'padding, ', '30', ');']},
    {i: 4, t: 'dmv', c: ['ctx', 'fill', '();']},
    {},
    {i: 4, t: 'dposovosv', c: ['ctx', 'fillStyle', ' = ', '\'hsl(\'', ' + ', 'hue', ' + ', '\'100%, 50%)\'', ';']},
    {i: 4, t: 'dmv', c: ['ctx', 'beginPath', '();']},
    {i: 4, t: 'dmvonvonvnv', c: ['ctx', 'rect', '(padding', ' / ', '2', ', height', ' - ', '50', ', currentTimeWidth, ', '30', ');']},
    {i: 4, t: 'dmv', c: ['ctx', 'fill', '();']},
    {},
    {i: 4, t: 'dpv', c: ['ctx', 'beginPath', '();']},
    {i: 4, t: 'dmvsodxvonvonv', c: ['ctx', 'fillText', '(', '\'Time: \'', ' + ', 'gameTimer', 'toFixed', '(), width', ' / ', '2', ', height', ' - ', '50', ');']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' clearCanvas', '() {']},
    {i: 4, t: 'dmvnvnv', c: ['ctx', 'clearRect', '(', '0', ', ', '0', ', width, height);']},
    {i: 0, t: 'v', c: ['}']},
    {}
])}}
