{{ code.exampleCodeBlock('j', 11, [
    {i: 0, t: 'kmv', c: ['function', ' main', '(time) {']},
    {i: 4, t: 'mv', c: ['setDeltaTime', '(time);']},
    {i: 4, t: 'mv', c: ['clearCanvas', '();']},
    {i: 4, t: 'mv', c: ['updateGameTimer', '();']},
    {i: 4, t: 'mv', c: ['renderGameTimer', '();']},
    {i: 4, t: 'vomv', c: ['animation', ' = ', 'requestAnimationFrame', '(main);']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'vov', c: ['gameTimer', ' = ', 'gameTime;']},
    {i: 0, t: 'vomv', c: ['animation', ' = ', 'requestAnimationFrame', '(main);']},
    {}
])}}
