<div id="fullCodeJs" class="full-code-js js-hidden">
{{ code.exampleCodeBlock('j', 1, [
    {i: 0, t: 'kvodxvsv', c: ['var', ' canvas ', '= ', 'document', 'getElementById', '(', '\'exampleCanvas\'', ');']},
    {i: 0, t: 'kvodxvsv', c: ['var', ' ctx ', '= ', 'canvas', 'getContext', '(', '\'2d\'', ');']},
    {},
    {i: 0, t: 'dposv', c: ['ctx', 'fillStyle', ' = ', '\'rgba(23, 122, 143, 1)\'', ';']},
    {i: 0, t: 'dmvnvnvdpvdpv', c: ['ctx', 'fillRect', '(', '0', ', ', '0', ', ', 'canvas', 'width', ', ', 'canvas', 'height', ');']},
    {i: 0, t: 'dposv', c: ['ctx', 'strokeStyle',  ' = ', '\'black\'', ';']},
    {i: 0, t: 'dposv', c: ['ctx', 'fillStyle',  ' = ', '\'black\'', ';']},
    {},
    {i: 0, t: 'dmvnvnvnvnv', c: ['ctx', 'strokeRect', '(', '50', ', ', '100', ', ', '100', ', ', '100', ');']},
    {},
    {i: 0, t: 'dmvnvnvnvnv', c: ['ctx', 'fillRect', '(', '250', ', ', '100', ', ', '100', ', ', '100', ');']},
    {},
    {i: 0, t: 'dmv', c: ['ctx', 'beginPath', '();']},
    {i: 0, t: 'dposv', c: ['ctx', 'strokeStyle',  ' = ', '\'green\'', ';']},
    {i: 0, t: 'dposv', c: ['ctx', 'fillStyle',  ' = ', '\'red\'', ';']},
    {i: 0, t: 'dmvnvnvnvnv', c: ['ctx', 'rect', '(', '450', ', ', '25', ', ', '100', ', ', '100', ');']},
    {i: 0, t: 'dxvnvnv', c: ['ctx', 'moveTo', '(', '500', ', ', '125', ');']},
    {i: 0, t: 'dmvnvnv', c: ['ctx', 'lineTo', '(', '500', ', ', '175', ');']},
    {i: 0, t: 'dmvnvnvnvnv', c: ['ctx', 'rect', '(', '450', ', ', '175', ', ', '100', ', ', '100', ');']},
    {i: 0, t: 'dmv', c: ['ctx', 'fill', '();']},
    {i: 0, t: 'dmv', c: ['ctx', 'stroke', '();']}
])}}
</div>
