<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="Joe Chapman" />
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="manifest" href="/manifest.json">
        <title>Joes Playhouse - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/main.css" />
        {% block stylesheets %}{% endblock %}
    </head>

    <body id="body" class="{% block body_class %}{% endblock %}">
        <header>
            {% block header %}{% endblock %}
        </header>

        {% block main %}{% endblock %}

        {% block footer %}{% endblock %}

        <script type="text/javascript" src="/scripts/main.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
