header,
footer,
nav,
title,
.no-print {
    display: none;
}

body {
  overflow: visible !important;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

html {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.about-main-wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border: 0;
}
