{% macro indexNavRow(links) %}
<div class="projects-index-flex-wrapper">
    {% for item in links %}
        <a class="projects-index-link" href="{{ item.href }}">
        <div class="projects-index-link-image {% if item.class %}{{ item.class }}{% endif %}" {% if item.img %}style="background-image: url({{ item.img }})"{% endif %}>

        </div>
        <div class="projects-index-link-title">
            <p>{{ item.title }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endmacro %}
