{{ code.exampleCodeBlock('j', 14, [
{i: 0, t: 'kmv', c: ['function', ' manageTime', '(time) {']},
{i: 4, t: 'vovovonv', c: ['totalTime', ' += ', '(time', ' - ', 'lastTime)', ' / ', '1000', ';']},
{i: 4, t: 'vov', c: ['lastTime', ' = ', 'time;']},
{i: 0, t: 'v', c: ['}']},
{},
{i: 0, t: 'kmv', c: ['function', ' main', '(time) {']},
{i: 4, t: 'mv', c: ['manageTime', '(time);']},
{i: 4, t: 'dpvnvnv', c: ['ctx', 'clearRect', '(', '0', ', ', '0', ', width, height);']},
{i: 4, t: 'mv', c: ['requestAnimationFrame', '(main);']},
{i: 0, t: 'v', c: ['}']},
{},
{i: 0, t: 'mv', c: ['requestAnimationFrame', '(main);']},
{}
])}}
