.games-main-link {
    color: #123c5e;
    border: 2px solid #123c5e;
    border-radius: 5px;
    margin: 1rem;
    padding: .5rem;
    font-size: 2rem;
    text-decoration: none;
    width: 7rem;
    text-align: center;
    background-color: rgba(18, 60, 94, .2);
    box-shadow: 4px 4px 4px rgba(18, 60, 94, .6);
}

.games-main-link:hover {
    background-color: rgba(173, 216, 230, .4);
}

.games-main-link:active {
    box-shadow: 2px 2px 2px rgba(18, 60, 94, .6);
}

.games-index-link {
    display: block;
    width: 50%;
    position: relative;
    margin: 1.5rem;
    background-color: $games-light-grey;
    box-shadow: 15px 12px 2px $games-dark-grey;
    text-decoration: none;
}

.games-index-link:active {
    box-shadow: 7px 4px 2px $games-dark-grey;
}

.games-index-link-image {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding-top: 55%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    background-image: linear-gradient(#f00, #00f);
}

.games-index-link-title {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: $games-light-grey;
    padding: .8rem 1rem;
    font-size: calc(12px + 2vmin);
    color: $white;
}

.games-index-link:hover .games-index-link-title {
    background-color: lighten($games-light-grey, 10%);
}

@media screen and (max-width: 800px) {
    .games-index-link {
        width: 100%;
    }
}

.square-index-img {
    background-size: 60% 100%;
    background-color: rgba(33, 33, 33, .9);
}
