{% extends 'nunjucks/templates/base.njk' %}
{% import "nunjucks/macros/games/navigation.njk" as navigation %}
{% import "nunjucks/macros/games/typography.njk" as typography %}

{% block title %}Classic games{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/games.css">
{% endblock %}

{% block header %}
    {% include 'nunjucks/partials/topnav.njk' %}
{% endblock %}

{% block main %}
    <div class="games-main-wrapper">

        {{ typography.mainHeading('Classic Games')}}
        {{ navigation.indexNavRow([
            {href: '/games/classics/pong', title: 'Pong', img: '/images/tutorials/games/pong.png'},
            {href: '/games/classics/space-invaders', title: 'Space Invaders', img: '/images/games/classics.jpg'}
        ]) }}
        {{ navigation.indexNavRow([
            {href: '/games/classics/asteroids', title: 'Asteroids', img: '/images/games/asteroids.png'},
            {href: '/games/classics/snake', title: 'Snake', img: '/images/games/snake.png'}
        ]) }}
        {{ navigation.indexNavRow([{href: '#', title: 'Coming soon'}]) }}
    </div>
{% endblock %}

{% block footer %}
{% include "nunjucks/partials/footer.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
