{{ code.exampleCodeBlock('j', 14, [
{i: 0, t: 'kmv', c: ['function', ' randomChar', '() {']},
{i: 4, t: 'kvcvxvcvxvodpv', c: ['return', ' chars[', 'Math', '.', 'floor', '(', 'Math', '.', 'random', '()', ' * ', 'chars', 'length', ')];']},
{i: 0, t: 'v', c: ['}']},
{},
{i: 0, t: 'kmv', c: ['function', ' buildCharSet', '() {']},
{i: 4, t: 'kvocvxvonvmv', c: ['return', ' {position:', ' -', 'Math', '.', 'random', '()', ' * ', '100', ', chars: [', 'randomChar', '()]};']},
{i: 0, t: 'v', c: ['}']},
{},
{i: 0, t: 'kmv', c: ['function', ' init', '() {']},
{i: 4, t: 'kvkvonvovov', c: ['for', '(', 'var ', 'i', ' = ', '0', '; i', ' < ', 'columns; i', '++', ') {']},
{i: 8, t: 'vomv', c: ['charSets[i]', ' = ', 'buildCharSet', '();']},
{i: 4, t: 'v', c: ['}']},
{i: 0, t: 'v', c: ['}']},
{}
])}}
