{{ code.exampleCodeBlock('j', 43, [
    {i: 0, t: 'kmv', c: ['function', ' renderMatix', '() {']},
    {i: 4, t: 'dposv', c: ['ctx', 'fillStyle', ' = ', '\'rgba(0, 0, 0, 1)\'', ';']},
    {i: 4, t: 'dmvnvnvdpvdpv', c: ['ctx', 'fillRect', '(', '0', ', ', '0', ', ', 'canvas', 'width', ', ', 'canvas', 'height', ');']},
    {i: 4, t: 'vxvkv', c: ['charSets.', 'forEach', '(', 'function', '(charSet, index) {']},
    {i: 8, t: 'kvonv', c: ['var', ' opacity ', '= ', '1', ';']},
    {i: 8, t: 'kvodpv', c: ['var', ' textPosition ', '= ', 'charSet', 'position', ';']},
    {i: 8, t: 'kvkvonvoddpvov', c: ['for', '(', 'var ', 'i', ' = ', '0', '; i', ' < ', 'charSet', 'chars', 'length', '; i', '++', ') {']},
    {i: 12, t: 'kvonovodpov', c: ['if', '(textPosition', ' >= ', '0', ' && ', 'textPosition', ' < ', 'canvas', 'height', ' + ', 'fontSize) {']},
    {i: 16, t: 'dpovovonosovososovovovonvosv', c: ['ctx', 'fillStyle', ' = ', 'i', ' > ', 'whiteChars', ' - ', '1', ' ? ', '\'rgba(123, 250, 126, \'', ' + ', 'opacity', ' + ', '\')\'', ' : ',
                        '\'rgba(255, 255, 255, \'', ' + ', '(opacity', ' - ', '(i', ' * ', 'fadeRate', ' * ', '8','))', ' + ', '\')\'', ';']},
    {i: 16, t: 'dmvdpvovov', c: ['ctx', 'fillText', '(', 'charSet', 'chars', '[i], index', ' * ', 'fontSize, textPosition', ' * ', 'fontSize);']},
    {i: 12, t: 'v', c: ['}']},
    {i: 12, t: 'vonv', c: ['textPosition', ' -= ', '1', ';']},
    {i: 12, t: 'vov', c: ['opacity', ' -= ', 'fadeRate;']},
    {i: 8, t: 'v', c: ['}']},
    {i: 4, t: 'v', c: ['});']},
    {i: 0, t: 'v', c: ['}']},
    {}
])}}
