{{ code.exampleCodeBlock('j', 60, [
{i: 0, t: 'kmv', c: ['function', ' main', '(time) {']},
{i: 4, t: 'kvononv', c: ['if', '(animation', ' % ', '5', ' === ', '0', ') {']},
{i: 8, t: 'mv', c: ['updateMatix', '();']},
{i: 4, t: 'v', c: ['}']},
{i: 4, t: 'dmvnvnvdpvdpv', c: ['ctx', 'clearRect', '(', '0', ', ', '0', ', ', 'canvas', 'width', ', ', 'canvas', 'height', ');']},
{i: 4, t: 'mv', c: ['renderMatix', '();']},
{i: 4, t: 'vomv', c: ['animation',  ' = ', 'requestAnimationFrame', '(main);']},
{i: 0, t: 'v', c: ['}']},
{},
{i: 0, t: 'mv', c: ['init', '();']},
{i: 0, t: 'vomv', c: ['animation',  ' = ', 'requestAnimationFrame', '(main);']},
{},
{i: 0, t: 'v', c: ['})();']},
{}
])}}
