{{ code.exampleCodeBlock('j', 1, [
    {i: 0, t: 'vkv', c: ['(', 'function', '() {']},
    {i: 4, t: 'kvodxvsv', c: ['var', ' canvas ', '= ', 'document', 'getElementById', '(', '\'exampleCanvas\'', ');']},
    {i: 4, t: 'kvodxvsv', c: ['var', ' ctx ', '= ', 'canvas', 'getContext', '(', '\'2d\'', ');']},
    {i: 4, t: 'kvov', c: ['var', ' animation;']},
    {i: 4, t: 'kvov', c: ['var', ' charSets ', '= ', '[];']},
    {i: 4, t: 'kvosvxvsv', c: ['var', ' chars ', '= ', '\'アイウエオガギグゲゴサザジズゼゾダヂツデドナニヌネノハバパヒビピフブプベホボポマミムメモヨリヰヲヸヹヺ\'', '.', 'split', '(', '\'\'', ');']},
    {i: 4, t: 'kvonv', c: ['var', ' fontSize ', '= ', '16', ';']},
    {i: 4, t: 'kvonv', c: ['var', ' fadeRate ', '= ', '0.03', ';']},
    {i: 4, t: 'kvonv', c: ['var', ' whiteChars ', '= ', '2', ';']},
    {i: 4, t: 'kvocvxvnovov', c: ['var', ' maxCharAmount ', '= ', 'Math', '.', 'ceil', '(', '1', ' / ', 'fadeRate', ' + ', 'whiteChars);']},
    {i: 4, t: 'kvocvxvdpov', c: ['var', ' columns ', '= ', 'Math', '.', 'ceil', '(', 'canvas', 'width', ' / ', 'fontSize);']},
    {i: 4, t: 'dvovosv', c: ['ctx', ' font ', '= ', 'fontSize', ' + ','\'px arial\'' , ';']},
    {i: 0, t: 'vkv', c: ['})();']},
    {}
])}}
