{{ code.exampleCodeBlock('j', 28, [
    {i: 0, t: 'kmv', c: ['function', ' updateMatix', '() {']},
    {i: 4, t: 'kvkvonvodpvov', c: ['for', '(', 'var ', 'i', ' = ', '0', '; i', ' < ', 'charSets', 'length', '; i', '++', ') {']},
    {i: 8, t: 'vdxvmv', c: ['charSets[i].', 'chars', 'unshift', '(','randomChar' ,'());']},
    {i: 8, t: 'vdpocvxvdpv', c: ['charSets[i].', 'chars','length' ,' = ', 'Math', '.', 'min', '(charSets[i].', 'chars', 'length', ', maxCharAmount);']},
    {i: 8, t: 'vpov', c: ['charSets[i].', 'position', '++', ';']},
    {i: 8, t: 'kvpovovdpovov', c: ['if', '(charSets[i].', 'position', ' * ', 'fontSize', ' > ', '(', 'canvas', 'height', ' + ', 'fontSize', ' / ', 'fadeRate)) {']},
    {i: 12, t: 'vomv', c: ['charSets[i]', ' = ', 'buildCharSet', '();']},
    {i: 8, t: 'vkv', c: ['}',  ' else ', '{']},
    {i: 12, t: 'vpvxvkv', c: ['charSets[i].', 'chars', '.', 'forEach', '(', 'function', '(char, index) {']},
    {i: 16, t: 'vpvocvxvonomvov', c: ['charSets[i].', 'chars', '[index]', ' = ', 'Math', '.', 'random', '()', ' > ', '0.98', ' ? ', 'randomChar', '()', ' : ', 'char;']},
    {i: 12, t: 'v', c: ['});']},
    {i: 8, t: 'v', c: ['}']},
    {i: 4, t: 'v', c: ['}']},
    {i: 0, t: 'v', c: ['}']},
    {}
])}}
