<div id="fullCodeJs" class="full-code-js js-hidden">
    {{ code.exampleCodeBlock('j', 1, [
    {i: 0, t: 'vkv', c: ['(', 'function', '() {']},
    {i: 4, t: 'kvodxvsv', c: ['var', ' canvas ', '= ', 'document', 'getElementById', '(', '\'exampleCanvas\'', ');']},
    {i: 4, t: 'kvodxvsv', c: ['var', ' ctx ', '= ', 'canvas', 'getContext', '(', '\'2d\'', ');']},
    {i: 4, t: 'kvov', c: ['var', ' animation;']},
    {i: 4, t: 'kvov', c: ['var', ' charSets ', '= ', '[];']},
    {i: 4, t: 'kvosvxvsv', c: ['var', ' chars ', '= ', '\'アイウエオガギグゲゴサザジズゼゾダヂツデドナニヌネノハバパヒビピフブプベホボポマミムメモヨリヰヲヸヹヺ\'', '.', 'split', '(', '\'\'', ');']},
    {i: 4, t: 'kvonv', c: ['var', ' fontSize ', '= ', '16', ';']},
    {i: 4, t: 'kvonv', c: ['var', ' fadeRate ', '= ', '0.03', ';']},
    {i: 4, t: 'kvonv', c: ['var', ' whiteChars ', '= ', '2', ';']},
    {i: 4, t: 'kvocvxvnovov', c: ['var', ' maxCharAmount ', '= ', 'Math', '.', 'ceil', '(', '1', ' / ', 'fadeRate', ' + ', 'whiteChars);']},
    {i: 4, t: 'kvocvxvdpov', c: ['var', ' columns ', '= ', 'Math', '.', 'ceil', '(', 'canvas', 'width', ' / ', 'fontSize);']},
    {i: 4, t: 'dvovosv', c: ['ctx', ' font ', '= ', 'fontSize', ' + ','\'px arial\'' , ';']},
    {},

    {i: 4, t: 'kmv', c: ['function', ' randomChar', '() {']},
    {i: 8, t: 'kvcvxvcvxvodpv', c: ['return', ' chars[', 'Math', '.', 'floor', '(', 'Math', '.', 'random', '()', ' * ', 'chars', 'length', ')];']},
    {i: 4, t: 'v', c: ['}']},
    {},
    {i: 4, t: 'kmv', c: ['function', ' buildCharSet', '() {']},
    {i: 8, t: 'kvocvxvonvmv', c: ['return', ' {position:', ' -', 'Math', '.', 'random', '()', ' * ', '100', ', chars: [', 'randomChar', '()]};']},
    {i: 4, t: 'v', c: ['}']},
    {},
    {i: 4, t: 'kmv', c: ['function', ' init', '() {']},
    {i: 8, t: 'kvkvonvovov', c: ['for', '(', 'var ', 'i', ' = ', '0', '; i', ' < ', 'columns; i', '++', ') {']},
    {i: 12, t: 'vomv', c: ['charSets[i]', ' = ', 'buildCharSet', '();']},
    {i: 8, t: 'v', c: ['}']},
    {i: 4, t: 'v', c: ['}']},
    {},

    {i: 4, t: 'kmv', c: ['function', ' updateMatix', '() {']},
    {i: 8, t: 'kvkvonvodpvov', c: ['for', '(', 'var ', 'i', ' = ', '0', '; i', ' < ', 'charSets', 'length', '; i', '++', ') {']},
    {i: 12, t: 'vdxvmv', c: ['charSets[i].', 'chars', 'unshift', '(','randomChar' ,'());']},
    {i: 12, t: 'vdpocvxvdpv', c: ['charSets[i].', 'chars','length' ,' = ', 'Math', '.', 'min', '(charSets[i].', 'chars', 'length', ', maxCharAmount);']},
    {i: 12, t: 'vpov', c: ['charSets[i].', 'position', '++', ';']},
    {i: 12, t: 'kvpovovdpovov', c: ['if', '(charSets[i].', 'position', ' * ', 'fontSize', ' > ', '(', 'canvas', 'height', ' + ', 'fontSize', ' / ', 'fadeRate)) {']},
    {i: 16, t: 'vomv', c: ['charSets[i]', ' = ', 'buildCharSet', '();']},
    {i: 12, t: 'vkv', c: ['}',  ' else ', '{']},
    {i: 16, t: 'vpvxvkv', c: ['charSets[i].', 'chars', '.', 'forEach', '(', 'function', '(char, index) {']},
    {i: 20, t: 'vpvocvxvonomvov', c: ['charSets[i].', 'chars', '[index]', ' = ', 'Math', '.', 'random', '()', ' > ', '0.98', ' ? ', 'randomChar', '()', ' : ', 'char;']},
    {i: 16, t: 'v', c: ['});']},
    {i: 12, t: 'v', c: ['}']},
    {i: 8, t: 'v', c: ['}']},
    {i: 4, t: 'v', c: ['}']},
    {},

    {i: 4, t: 'kmv', c: ['function', ' renderMatix', '() {']},
    {i: 8, t: 'dposv', c: ['ctx', 'fillStyle', ' = ', '\'rgba(0, 0, 0, 1)\'', ';']},
    {i: 8, t: 'dmvnvnvdpvdpv', c: ['ctx', 'fillRect', '(', '0', ', ', '0', ', ', 'canvas', 'width', ', ', 'canvas', 'height', ');']},
    {i: 8, t: 'vxvkv', c: ['charSets.', 'forEach', '(', 'function', '(charSet, index) {']},
    {i: 12, t: 'kvonv', c: ['var', ' opacity ', '= ', '1', ';']},
    {i: 12, t: 'kvodpv', c: ['var', ' textPosition ', '= ', 'charSet', 'position', ';']},
    {i: 12, t: 'kvkvonvoddpvov', c: ['for', '(', 'var ', 'i', ' = ', '0', '; i', ' < ', 'charSet', 'chars', 'length', '; i', '++', ') {']},
    {i: 16, t: 'kvonovodpov', c: ['if', '(textPosition', ' >= ', '0', ' && ', 'textPosition', ' < ', 'canvas', 'height', ' + ', 'fontSize) {']},
    {i: 20, t: 'dpovovonosovososovovovonvosv', c: ['ctx', 'fillStyle', ' = ', 'i', ' > ', 'whiteChars', ' - ', '1', ' ? ', '\'rgba(123, 250, 126, \'', ' + ', 'opacity', ' + ', '\')\'', ' : ',
                        '\'rgba(255, 255, 255, \'', ' + ', '(opacity', ' - ', '(i', ' * ', 'fadeRate', ' * ', '8','))', ' + ', '\')\'', ';']},
    {i: 20, t: 'dmvdpvovov', c: ['ctx', 'fillText', '(', 'charSet', 'chars', '[i], index', ' * ', 'fontSize, textPosition', ' * ', 'fontSize);']},
    {i: 16, t: 'v', c: ['}']},
    {i: 16, t: 'vonv', c: ['textPosition', ' -= ', '1', ';']},
    {i: 16, t: 'vov', c: ['opacity', ' -= ', 'fadeRate;']},
    {i: 12, t: 'v', c: ['}']},
    {i: 8, t: 'v', c: ['});']},
    {i: 4, t: 'v', c: ['}']},
    {},

    {i: 4, t: 'kmv', c: ['function', ' main', '(time) {']},
    {i: 8, t: 'kvononv', c: ['if', '(animation', ' % ', '5', ' === ', '0', ') {']},
    {i: 12, t: 'mv', c: ['updateMatix', '();']},
    {i: 8, t: 'v', c: ['}']},
    {i: 8, t: 'dmvnvnvdpvdpv', c: ['ctx', 'clearRect', '(', '0', ', ', '0', ', ', 'canvas', 'width', ', ', 'canvas', 'height', ');']},
    {i: 8, t: 'mv', c: ['renderMatix', '();']},
    {i: 8, t: 'vomv', c: ['animation',  ' = ', 'requestAnimationFrame', '(main);']},
    {i: 4, t: 'v', c: ['}']},
    {},
    {i: 4, t: 'mv', c: ['init', '();']},
    {i: 4, t: 'vomv', c: ['animation',  ' = ', 'requestAnimationFrame', '(main);']},
    {},
    {i: 0, t: 'v', c: ['})();']},
    {}
    ])}}
</div>
