.topnav {
    background-color: $slate-grey;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: fantasy;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
}

.topnav-main-link {
    color: $white;
    text-decoration: none;
    padding: .6rem 2rem;
    font-size: 1.5rem;
}

.desktop-primary-list {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
}

@media screen and(max-width: 625px) {
    .topnav-main-link {
        font-size: 1rem;
    }
}

@media screen and(max-width: 550px) {
    .topnav-primary-list li.desktop-primary-list {
        display: none;
    }
}

@media screen and(min-width: 550px) {
    .topnav-primary-list li.mobile-primary-list {
        display: none;
    }
}

.mobile-primary-list {
    float: right;
}

.topnav-sub-list {
    position: absolute;
    display: none;
    list-style: none;
    background-color: $slate-grey;
    width: 150%;
    text-align: left;
    margin-top: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.topnav-primary-list li:hover ul {
    display: block;
}

.topnav-primary-list li:hover ul li {
    display: block;
}

.topnav-sub-link {
    color: $white;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 1rem 1rem 1rem 2rem;
}

.topnav-sub-list li:hover {
    background-color: rgba(255, 255, 255, .8);
}

.topnav-sub-list li:hover a {
    color: $black;
}

.topnav-active {
    box-sizing: border-box;
    border-top: 5px solid $white;
}

.home-link {
    float: left;
    padding: 1rem;
    background-image: url('../icons/home.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 2.2rem;
    margin-left: 1rem;
}

// Specific to /random
.random-page-nav {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    padding: .5rem 1rem;
}

.random-page-home {
    float: left;
    background-image: url('../icons/home.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    vertical-align: super;
    padding: 1.2rem;
    margin-top: .5rem;
    background-size: 2.5rem;
    transition: background-image .2s ease, background-size .2s ease;
}

.random-page-refresh {
    float: right;
    background-image: url('../icons/refresh.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    vertical-align: super;
    padding: 1.2rem;
    margin-top: .5rem;
    background-size: 2.5rem;
    transition: background-image .2s ease, background-size .2s ease;
}

.random-page-home:hover, {
    background-image: url('../icons/home-hover.svg');
    background-size: 2.3rem;
}

.random-page-refresh:hover, {
    background-image: url('../icons/refresh-hover.svg');
    background-size: 2.3rem;
}

// Mobile menu specific styles
.mobile-menu-button {
    background: 0;
    border: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}

.mobile-menu-button-svg {
    width: 2.5rem;
    height: 2.5rem;
}

.mobile-menu-button-svg:hover {
    width: 2.3rem;
    height: 2.3rem;
    stroke: rgba(0, 0, 255, 1);
}

.mobile-page-menu {
    z-index: 5;
    position: absolute;
    top: 22px;
    right: 15px;
    background-color: transparent;
    border: 0;
}

.mobile-menu-svg {
    width: 2.5rem;
    height: 2.5rem;
    transition: width .2s ease, height .2s ease, stroke .2s ease;
}

.mobile-menu-svg:hover {
    stroke: #00f;
    width: 2.3rem;
    height: 2.3rem;
}

.mobile-menu {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 0;
    overflow-x: hidden;
    background: repeating-linear-gradient(45deg, transparent, transparent 9px, rgba(0, 0, 0, .1) 10px, rgba(0, 0, 0, .1) 12px),
    linear-gradient(to top right, rgba(115, 0, 0, .98) -10%, rgba(0, 0, 115, .98));
    transition: width .5s ease;
}

.mobile-menu * {
    display: none;
}

.mobile-menu.mobile-menu-visible * {
    display: block;
}

.mobile-menu.mobile-menu-visible {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border-left: 2px solid #909c9e;
    box-shadow: -5px 0 10px 0 darken($slate-grey, 10%);
    height: 100vh;
    width: $mobile-menu-width;
    max-width: 95vw;
    background: repeating-linear-gradient(45deg, transparent, transparent 9px, rgba(0, 0, 0, .1) 10px, rgba(0, 0, 0, .1) 12px),
    linear-gradient(to top right, rgba(115, 0, 0, .98) -10%, rgba(0, 0, 115, .98));
    overflow-y: scroll;
}

.mobile-menu-wrapper {
    padding: .5rem;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.mobile-menu-close-wrapper {
    height: 3.5rem;
}

.mobile-menu-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    background-color: transparent;
    outline: 0;
}

.mobile-menu-close svg {
    stroke: $white;
    width: 2rem;
    height: 2rem;
    vertical-align: center;
    fill: none;
    transition: width .2s ease, height .2s ease, stroke .2s ease;
}

.mobile-menu-close:hover svg {
    stroke: rgba(188, 0, 0, 1);
    width: 1.8rem;
    height: 1.8rem;
}

.mobile-menu-heading {
    color: $white;
    font-size: 1.8rem;
}

.mobile-menu-main-link {
    color: $white;
    text-decoration: none;
    font-size: 1.4rem;
    padding: .5rem .5rem 1.5rem .25rem;
    display: block;
    border-top: 1px solid rgba(222, 222, 222, .2);
}

.mobile-menu-main-link:hover {
    color: #15868A;
    background-color: rgba(222, 222, 222, 0.3);
}
