{% macro indexNavRow(links) %}
<div class="games-index-flex-wrapper">
    {% for item in links %}
        <a class="games-index-link" href="{{ item.href }}">
        <div class="games-index-link-image {% if item.class %}{{ item.class }}{% endif %}" {% if item.img %}style="background-image: url({{ item.img }})"{% endif %}>

        </div>
        <div class="games-index-link-title">
            <p>{{ item.title }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endmacro %}

{% macro inGameButtons(link, additionalClass) %}
<a href="{{ link }}" class="ingame-page-home {{ additionalClass }}-home" type="button" name="button">
    <svg class="ingame-home-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
    {# <svg class="ingame-home-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg> #}
</a>
<button tabindex="0" id="openMobileMenuButton" class="ingame-page-menu {{ additionalClass }}-menu" type="button" name="button">
    <svg class="ingame-menu-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
</button>
    {% include "nunjucks/partials/mobileNav.njk" %}
{% endmacro %}
