{% macro heading(type, content, class) %}
<h{{ type }} {% if class %}class="{{ class }}"{% endif %}>{{ content }}</h{{ type }}>
{% endmacro %}

{% macro parapgraph(content, class) %}
    <p {% if class %}class="{{ class }}"{% endif %}>{{ content }}</p>
{% endmacro %}
