{{ code.exampleCodeBlock('j', 30, [
    {i: 0, t: 'kmv', c: ['function', ' main', '(time) {']},
    {i: 4, t: 'mv', c: ['clearCanvas', '();']},
    {i: 4, t: 'mv', c: ['updateScore', '();']},
    {i: 4, t: 'mv', c: ['renderScore', '();']},
    {i: 4, t: 'vomv', c: ['animation', ' = ', 'requestAnimationFrame', '(main);']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'vomv', c: ['animation', ' = ', 'requestAnimationFrame', '(main);']},
    {},
    {i: 0, t: 'dxvsvxvsvkv', c: ['document', 'getElementById', '(', '\'increaseScoreButton\'', ').', 'addEventListener', '(', '\'click\'', ', ', 'function', '() {']},
    {i: 4, t: 'vonv', c: ['score', ' += ', '100', ';']},
    {i: 0, t: 'v', c: ['});']},
    {}
])}}
