{{ code.exampleCodeBlock('j', 14, [
    {i: 0, t: 'kmv', c: ['function', ' updateScore', '() {']},
    {i: 4, t: 'kvov', c: ['if', '(displayScore', ' < ', 'score) {']},
    {i: 8, t: 'vov', c: ['displayScore', ' += ', 'scoreIncrement;']},
    {i: 4, t: 'v', c: ['}']},
    {i: 0, t: 'v', c: ['}']},
    {}
])}}
