{{ code.exampleCodeBlock('j', 20, [
    {i: 0, t: 'kmv', c: ['function', ' clearCanvas', '() {']},
    {i: 4, t: 'dmvnvnv', c: ['ctx', 'clearRect', '(', '0', ', ', '0', ', width, height);']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' renderScore', '() {']},
    {i: 4, t: 'dposv', c: ['ctx', 'fillStyle', ' = ', '\'rgba(255, 44, 44, 0.8)\'', ';']},
    {i: 4, t: 'dmv', c: ['ctx', 'beginPath', '();']},
    {i: 4, t: 'dmvsovonvonv', c: ['ctx', 'fillText', '(', '\'Score: \'', ' + ', 'displayScore, width', ' / ', '2', ', height', ' - ', '20', ');']},
    {i: 0, t: 'v', c: ['}']},
    {}
])}}
