<div id="fullCodeJs" class="full-code-js js-hidden">
{{ code.exampleCodeBlock('j', 1, [
{i: 0, t: 'kvodxvsv', c: ['var', ' canvas ', '= ', 'document', 'getElementById', '(', '\'demoCanvas\'', ');']},
{i: 0, t: 'kvodpv', c: ['var', ' width ', '= ', 'canvas', 'width', ';']},
{i: 0, t: 'kvodpv', c: ['var', ' height ', '= ', 'canvas', 'height', ';']},
{i: 0, t: 'kvodxvsv', c: ['var', ' ctx ', '= ', 'canvas', 'getContext', '(', '\'2d\'', ');']},
{i: 0, t: 'kvonv', c: ['var', ' score ', '= ', '0', ';']},
{i: 0, t: 'kvonv', c: ['var', ' displayScore ', '= ', '0', ';']},
{i: 0, t: 'kvonv', c: ['var', ' scoreIncrement ', '= ', '5', ';']},
{i: 0, t: 'kvv', c: ['var', ' animation', ';']},
{},
{i: 0, t: 'dposv', c: ['ctx', 'font', ' = ', '\'6vmin Impact\'', ';']},
{i: 0, t: 'dposv', c: ['ctx', 'textAlign', ' = ', '\'center\'', ';']},
{i: 0, t: 'dposv', c: ['ctx', 'textBaseline', ' = ', '\'bottom\'', ';']},
{},
{i: 0, t: 'kmv', c: ['function', ' updateScore', '() {']},
{i: 4, t: 'kvov', c: ['if', '(displayScore', ' < ', 'score) {']},
{i: 8, t: 'vov', c: ['displayScore', ' += ', 'scoreIncrement;']},
{i: 4, t: 'v', c: ['}']},
{i: 0, t: 'v', c: ['}']},
{},
{i: 0, t: 'kmv', c: ['function', ' clearCanvas', '() {']},
{i: 4, t: 'dmvnvnv', c: ['ctx', 'clearRect', '(', '0', ', ', '0', ', width, height);']},
{i: 0, t: 'v', c: ['}']},
{},
{i: 0, t: 'kmv', c: ['function', ' renderScore', '() {']},
{i: 4, t: 'dposv', c: ['ctx', 'fillStyle', ' = ', '\'rgba(255, 44, 44, 0.8)\'', ';']},
{i: 4, t: 'dmv', c: ['ctx', 'beginPath', '();']},
{i: 4, t: 'dmvsovonvonv', c: ['ctx', 'fillText', '(', '\'Score: \'', ' + ', 'displayScore, width', ' / ', '2', ', height', ' - ', '20', ');']},
{i: 0, t: 'v', c: ['}']},
{},
{i: 0, t: 'kmv', c: ['function', ' main', '(time) {']},
{i: 4, t: 'mv', c: ['clearCanvas', '();']},
{i: 4, t: 'mv', c: ['updateScore', '();']},
{i: 4, t: 'mv', c: ['renderScore', '();']},
{i: 4, t: 'vomv', c: ['animation', ' = ', 'requestAnimationFrame', '(main);']},
{i: 0, t: 'v', c: ['}']},
{},
{i: 0, t: 'vomv', c: ['animation', ' = ', 'requestAnimationFrame', '(main);']},
{},
{i: 0, t: 'dxvsvxvsvkv', c: ['document', 'getElementById', '(', '\'increaseScoreButton\'', ').', 'addEventListener', '(', '\'click\'', ', ', 'function', '() {']},
{i: 4, t: 'vonv', c: ['score', ' += ', '100', ';']},
{i: 0, t: 'v', c: ['});']},
{}
])}}
</div>
