<div class="full-code-buttons">
    <button class="full-code-selector" type="button" name="button" data-display="fullCodeHtml">HTML</button>
    <button class="full-code-selector" type="button" name="button" data-display="fullCodeCss">CSS</button>
    <button class="full-code-selector" type="button" name="button" data-display="fullCodeJs">JS</button>
    <button class="full-code-selector active-code-selector" type="button" name="button" data-display="fullCodeResult">Result</button>
</div>
