<div id="fullCodeCss" class="full-code-css js-hidden">
    {{ code.exampleCodeBlock('c', 1, [
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {}
    ])}}
</div>
