{% extends 'nunjucks/templates/base.njk' %}

{% import 'nunjucks/macros/tutorials/typography.njk' as typography %}
{% import "nunjucks/macros/tutorials/navigation.njk" as navigation %}

{% block title %}Tutorials - Home{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/tutorials.css">
{% endblock %}

{% block header %}
    {% include 'nunjucks/partials/topnav.njk' %}
{% endblock %}

{% block main %}
    <div class="tutorials-main-index-wrapper">
        {{ typography.mainHeading('Tutorials')}}
        {{ navigation.indexNavRow([
            {href: '/tutorials/games/index', title: 'Games tutorials', img: '/images/tutorials/joystick.png'},
            {href: '/tutorials/canvas/index', title: 'Canvas tutorials', img: '/images/tutorials/canvas.png'}
        ], 'large') }}
        {{ navigation.indexNavRow([
            {href: '/tutorials/node/index', title: 'NodeJs tutorials', img: '/images/tutorials/node-logo.svg', bgColour: 'transparent', additionalClass: 'tutorials-index-link-image-reduced'}
        ], 'large') }}
    </div>
{% endblock %}

{% block footer %}
{% include "nunjucks/partials/footer.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
