{{ code.exampleCodeBlock('j', 11, [
    {i: 0, t: 'kmv', c: ['function', ' main', '(time) {']},
    {i: 4, t: 'kvodmv', c: ['var', ' start', ' = ', 'performance', 'now', '();']},
    {i: 4, t: 'mv', c: ['setDeltaTime', '(time);']},
    {i: 4, t: 'mv', c: ['clearCanvas', '();']},
    {i: 4, t: 'mv', c: ['renderBackground', '();']},
    {i: 4, t: 'mv', c: ['updateFps', '();']},
    {i: 4, t: 'mv', c: ['renderFps', '();']},
    {i: 4, t: 'kvodmv', c: ['var', ' end', ' = ', 'performance', 'now', '();']},
    {i: 4, t: 'vovovxvnv', c: ['executionTime', ' = ', '(end', ' - ', 'start).', 'toFixed', '(', '2', ');']},
    {i: 4, t: 'vomv', c: ['animation', ' = ', 'requestAnimationFrame', '(main);']},
    {i: 0, t: 'v', c: ['}']}
])}}
