{{ code.exampleCodeBlock('j', 11, [
    {i: 0, t: 'kmv', c: ['function', ' clearCanvas', '() {']},
    {i: 4, t: 'dmvnvnvdpvdpv', c: ['ctx', 'clearRect', '(' , '0', ', ', '0', ', ', 'canvas', 'width', ', ', 'canvas' , 'height', ');']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' renderBackground', '() {']},
    {i: 4, t: 'dmosv', c: ['ctx', 'fillStyle', ' = ', '\'rgba(22, 22, 22, 1)\'', ';']},
    {i: 4, t: 'dmv', c: ['ctx', 'beginPath', '();']},
    {i: 4, t: 'dmvnvnvdpvdpv', c: ['ctx', 'rect', '(', '0', ', ', '0', ', ', 'canvas', 'width', ', ', 'canvas', 'height', ');']},
    {i: 4, t: 'pmv', c: ['ctx', 'fill', '();']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' main', '(time) {']},
    {i: 4, t: 'mv', c: ['clearCanvas', '();']},
    {i: 4, t: 'mv', c: ['renderBackground', '();']},
    {i: 4, t: 'vomv', c: ['animation', ' = ', 'requestAnimationFrame', '(main);']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'vomv', c: ['animation', ' = ', 'requestAnimationFrame', '(main);']}
])}}
