{{ code.exampleCodeBlock(1, [
    {i: 0, t: 'kvodxvsv', c: ['var', ' canvas ', '= ', 'document', 'getElementById', '(', '\'demoCanvas\'', ');']},
    {i: 0, t: 'kvodxvsv', c: ['var', ' ctx ', '= ', 'canvas', 'getContext', '(', '\'2d\'', ');']},
    {},
    {i: 0, t: 'kvonv', c: ['var', ' lastTime ', '= ', '0', ';']},
    {i: 0, t: 'kvonv', c: ['var', ' deltaTime ', '= ', '0', ';']},
    {i: 0, t: 'kvonv', c: ['var', ' executionTime ', '= ', '0', ';']},
    {i: 0, t: 'kvonv', c: ['var', ' fps ', '= ', '0', ';']},
    {},
    {i: 0, t: 'kvv', c: ['var', ' animation ', ';']}
])}}
