{{ code.exampleCodeBlock(1, [
    {i: 0, t: 'kvodxvsv', c: ['var', ' canvas ', '= ', 'document', 'getElementById', '(', '\'demoCanvas\'', ');']},
    {i: 0, t: 'kvodxvsv', c: ['var', ' ctx ', '= ', 'canvas', 'getContext', '(', '\'2d\'', ');']},
    {},
    {i: 0, t: 'kvonv', c: ['var', ' lastTime ', '= ', '0', ';']},
    {i: 0, t: 'kvonv', c: ['var', ' deltaTime ', '= ', '0', ';']},
    {i: 0, t: 'kvonv', c: ['var', ' executionTime ', '= ', '0', ';']},
    {i: 0, t: 'kvonv', c: ['var', ' fps ', '= ', '0', ';']},
    {i: 0, t: 'kvv', c: ['var', ' animation ', ';']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' clearCanvas', '() {']},
    {i: 4, t: 'dmvnvnvdpvdpv', c: ['ctx', 'clearRect', '(' , '0', ', ', '0', ', ', 'canvas', 'width', ', ', 'canvas' , 'height', ');']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' setDeltaTime', '(time) {']},
    {i: 4, t: 'vovovonv', c: ['deltaTime', ' = ', '(time', ' - ', 'lastTime)', ' / ', '1000', ';']},
    {i: 4, t: 'vov', c: ['lastTime', ' = ', 'time;']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' updateFps', '() {']},
    {i: 4, t: 'vovnovxvnv', c: ['fps', ' = ', '(', '1', ' / ',  'deltaTime).', 'toFixed', '(', '1', ');']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' renderBackground', '() {']},
    {i: 4, t: 'dmosv', c: ['ctx', 'fillStyle', ' = ', '\'rgba(22, 22, 22, 1)\'', ';']},
    {i: 4, t: 'dmv', c: ['ctx', 'beginPath', '();']},
    {i: 4, t: 'dmvnvnvdpvdpv', c: ['ctx', 'rect', '(', '0', ', ', '0', ', ', 'canvas', 'width', ', ', 'canvas', 'height', ');']},
    {i: 4, t: 'pmv', c: ['ctx', 'fill', '();']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' renderFps', '() {']},
    {i: 4, t: 'dposv', c: ['ctx', 'fillStyle', ' = ', '\'rgba(255, 255, 255, 1)\'', ';']},
    {i: 4, t: 'dmvosvdponvdponv', c: ['ctx', 'fillText', '(fps', ' + ', '\' FPS\'', ', ', 'canvas', 'width', ' / ', '2', ', ', 'canvas', 'height', ' / ', '2', ');']},
    {i: 4, t: 'dmvosvdponvdpononv', c: ['ctx', 'fillText', '(executionTime', ' + ', '\' ms\'', ', ', 'canvas', 'width', ' / ', '2', ', ', 'canvas', 'height', ' / ', '2', ' + ' , '50', ');']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' main', '(time) {']},
    {i: 4, t: 'kvodmv', c: ['var', ' start', ' = ', 'performance', 'now', '();']},
    {i: 4, t: 'mv', c: ['setDeltaTime', '(time);']},
    {i: 4, t: 'mv', c: ['clearCanvas', '();']},
    {i: 4, t: 'mv', c: ['renderBackground', '();']},
    {i: 4, t: 'mv', c: ['updateFps', '();']},
    {i: 4, t: 'mv', c: ['renderFps', '();']},
    {i: 4, t: 'kvodmv', c: ['var', ' end', ' = ', 'performance', 'now', '();']},
    {i: 4, t: 'vovovxvnv', c: ['executionTime', ' = ', '(end', ' - ', 'start).', 'toFixed', '(', '2', ');']},
    {i: 4, t: 'vomv', c: ['animation', ' = ', 'requestAnimationFrame', '(main);']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'vomv', c: ['animation', ' = ', 'requestAnimationFrame', '(main);']}
])}}
