<div id="fullCodeJs" class="full-code-js js-hidden">
{{ code.exampleCodeBlock('j', 1, [
{i: 0, t: 'kvodxvsv', c: ['var', ' canvas ', '= ', 'document', 'getElementById', '(', '\'exampleCanvas\'', ');']},
{i: 0, t: 'kvodxvsv', c: ['var', ' ctx ', '= ', 'canvas', 'getContext', '(', '\'2d\'', ');']},
{},
{i: 0, t: 'dposv', c: ['ctx', 'fillStyle', ' = ', '\'rgba(63, 83, 143, 1)\'', ';']},
{i: 0, t: 'dmvnvnvdpvdpv', c: ['ctx', 'fillRect', '(', '0', ', ', '0', ', ', 'canvas', 'width', ', ', 'canvas', 'height', ');']},
{},
{i: 0, t: 'dposv', c: ['ctx', 'strokeStyle',  ' = ', '\'red\'', ';']},
{i: 0, t: 'dmv', c: ['ctx', 'beginPath', '();']},
{i: 0, t: 'dxvnvnv', c: ['ctx', 'moveTo', '(', '100', ', ', '100', ');']},
{i: 0, t: 'dmvnvnv', c: ['ctx', 'lineTo', '(', '50', ', ', '200', ');']},
{i: 0, t: 'dmvnvnv', c: ['ctx', 'lineTo', '(', '150', ', ', '200', ');']},
{i: 0, t: 'dmv', c: ['ctx', 'closePath', '();']},
{i: 0, t: 'dmv', c: ['ctx', 'stroke', '();']},
{},
{i: 0, t: 'dposv', c: ['ctx', 'fillStyle',  ' = ', '\'green\'', ';']},
{i: 0, t: 'dmv', c: ['ctx', 'beginPath', '();']},
{i: 0, t: 'dxvnvnv', c: ['ctx', 'moveTo', '(', '300', ', ', '100', ');']},
{i: 0, t: 'dmvnvnv', c: ['ctx', 'lineTo', '(', '250', ', ', '200', ');']},
{i: 0, t: 'dmvnvnv', c: ['ctx', 'lineTo', '(', '350', ', ', '200', ');']},
{i: 0, t: 'dmv', c: ['ctx', 'fill', '();']},
{},
{i: 0, t: 'dposv', c: ['ctx', 'fillStyle',  ' = ', '\'pink\'', ';']},
{i: 0, t: 'dmvnvnvnvnvnvnv', c: ['ctx', 'renderTriangle', '(ctx, ', '500', ', ', '100', ', ', '450', ', ', '200', ', ', '550', ', ', '200',');']},
{i: 0, t: 'dmv', c: ['ctx', 'fill', '();']},
{},
{i: 0, t: 'kmv', c: ['function', ' renderTriangle', '(ctx, x1, y1, x2, y2, x3, y3) {']},
{i: 4, t: 'dmv', c: ['ctx', 'beginPath', '();']},
{i: 4, t: 'dxv', c: ['ctx', 'moveTo', '(x1, y1);']},
{i: 4, t: 'dmv', c: ['ctx', 'lineTo', '(x2, y2);']},
{i: 4, t: 'dmv', c: ['ctx', 'lineTo', '(x3, y3);']},
{i: 4, t: 'dmv', c: ['ctx', 'closePath', '();']},
{i: 0, t: 'v', c: ['}']},
{}
])}}
</div>
