<div id="baseCodeHtml" class="full-code-html">
    {{ code.exampleCodeBlock('h', 1, [
        {i: 0, t: 'v', c:['<!DOCTYPE html>']},
        {i: 0, t: 'vpnvsv', c:['<', 'html ', 'lang', '=', '"en"', '>']},
        {i: 4, t: 'vpv', c:['<','head','>']},
        {i: 8, t: 'vpnvsv', c:['<', 'meta ', 'charset', '=', '"utf-8"', '>']},
        {i: 8, t: 'vpnvsnvsv', c:['<', 'meta ', 'name', '=', '"viewport "', 'content', '=', '"width=device-width, initial-scale=1.0"', '/>']},
        {i: 8, t: 'vpnvsnvsv', c:['<', 'meta ', 'name', '=', '"description "', 'content', '=', '"demonstration"', '/>']},
        {i: 8, t: 'vpnvsnvsv', c:['<', 'meta ', 'name', '=', '"author "', 'content', '=', '"me"', '/>']},
        {i: 8, t: 'vpvpv', c:['<', 'title', '> page name - site name </', 'title', '>']},
        {i: 4, t: 'vpv', c:['</','head','>']},
        {i: 4, t: 'vpv', c:['<','body','>']},
        {i: 8, t: 'vpnvsxvsnvsnvsvpv', c:['<', 'canvas', ' class', '=', '"demo-canvas"', ' id', '=', '"exampleCanvas"', ' width', '=', '"600"', ' height', '=', '"300"','></', 'canvas', '>']},
        {i: 8, t: 'vpnvsnvsvpv', c: ['<', 'script', ' type', '=', '"text/javascript"', ' src', '=', '"example.js"', '></', 'script', '>']},
        {i: 4, t: 'vpv', c:['</','body','>']},
        {i: 0, t: 'vpv', c:['</','html','>']}
    ])}}
</div>
