{% extends 'nunjucks/templates/base.njk' %}
{% import "nunjucks/macros/games/navigation.njk" as navigation %}
{% import "nunjucks/macros/games/typography.njk" as typography %}

{% block title %}Games - home{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/games.css">
{% endblock %}

{% block header %}
    {% include 'nunjucks/partials/topnav.njk' %}
{% endblock %}

{% block main %}
    <div class="games-main-wrapper">
        {{ typography.mainHeading('Games Room')}}
        {{ navigation.indexNavRow([
            {href: '/games/classics/index', title: 'Classics'},
            {href: '/games/puzzle/index', title: 'Puzzle'}
        ]) }}
        {{ navigation.indexNavRow([
            {href: '/games/adventure/index', title: 'Adventure'},
            {href: '/games/arcade/index', title: 'Arcade'}
        ]) }}
    </div>
{% endblock %}

{% block footer %}
{% include "nunjucks/partials/footer.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
