{% extends 'nunjucks/templates/base.njk' %}
{% import "nunjucks/macros/projects/navigation.njk" as navigation %}
{% import "nunjucks/macros/projects/typography.njk" as typography %}

{% block title %}Audio Visualiser{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/projects.css">
{% endblock %}

{% block header %}
    {% include 'nunjucks/partials/topnav.njk' %}
{% endblock %}

{% block main %}
<div class="audio-visualiser-main-wrapper">
    <div id="controlsWrapper" class="audio-visualiser-details">
        <input class="audio-visualiser-file-input" type="file" id="fileInput" accept="audio/*" />
        <audio class="audio-visualiser-audio-control hello" id="audioElement" controls controlsList="nodownload"></audio>
    </div>
    <div id="audioVisualiserBackground" class="audio-visualiser-bg audio-visualiser-bg-0">
        <canvas class="audio-visualiser-canvas" id="canvas" width="900" height="650"></canvas>
    </div>
</div>

<button id="audioVisualiserOpenButton" class="audio-visualiser-open-button" type="button" name="button"></button>
<div id="audioVisualiserControls" class="audio-visualiser-controls js-hidden">
    <fieldset>
        <button id="audioVisualiserCloseButton" class="audio-visualiser-close-button" type="button" name="button">X</button>
        <div class="audio-visualiser-control">
            <span class="audio-visualiser-control-title">Controls</span>
            <button id="audioVisualiserModeButton" class="audio-visualiser-button" type="button" name="button">Change Style</button>
            <button id="audioVisualiserBackgroundButton" class="audio-visualiser-button" type="button" name="button">Change Background</button>
            <button id="audioVisualiserTimerButton" class="audio-visualiser-button" type="button" name="button">Change Timer</button>
        </div>
    </fieldset>
</div>

{% endblock %}

{% block footer %}
    {% include "nunjucks/partials/footer.njk" %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/scripts/projects/graphicEqualizer.js"></script>
{% endblock %}
