<footer>
    <div class="footer-legal">
        <h3 class="footer-heading">Legal</h3>
        <br>
        <p class="copyright-notice">&#169; 2017 - {{ copyrightYear }} JoesPlayhouse.com<br />
            All rights reserved</p>
    </div>
    <div class="footer-nav">
        <h3 class="footer-heading">Navigation</h3>
        <br>
        <div class="footer-nav-additional-links">
            <a class="footer-nav-additional-link" href="/about/site-map">Site map</a>
            <a class="footer-nav-additional-link" href="/about/privacy-statement">Privacy statement</a>
            <a class="footer-nav-additional-link" href="/about/cookie-policy">Cookie policy</a>
        </div>
        <div class="footer-nav-main-links">
            <div class="footer-nav-main-links-section">
                <h4><a class="footer-nav-main-link" href="/tutorials">Tutorials</a></h4>
                    <a class="footer-nav-main-link" href="/tutorials/games/index">Games</a>
                    <a class="footer-nav-main-link" href="/tutorials/canvas/index">Canvas</a>
                    <a class="footer-nav-main-link" href="/tutorials/node/index">NodeJs</a>
            </div>
            <div class="footer-nav-main-links-section">
                <h4><a class="footer-nav-main-link" href="/games">Games</a></h4>
                    <a class="footer-nav-main-link" href="/games/action/index">Action</a>
                    <a class="footer-nav-main-link" href="/games/classics/index">Classics</a>
            </div>
            <div class="footer-nav-main-links-section">
                <h4><a class="footer-nav-main-link" href="/apis">Apis</a></h4>
                    <a class="footer-nav-main-link" href="#">example</a>
            </div>
            <div class="footer-nav-main-links-section">
                <h4><a class="footer-nav-main-link" href="/about">About</a></h4>
                    <a class="footer-nav-main-link" href="/about/site">About the site</a>
                    <a class="footer-nav-main-link" href="/about/me">About me</a>
                    <a class="footer-nav-main-link" href="/about/cv">My CV</a>
            </div>
        </div>
    </div>
    <div class="footer-contact">
        <h3 class="footer-heading">Contact</h3>
        <br>
        <p>Lots of ways to contact me coming soon</p>
    </div>
</footer>
