<nav id="mainNavigation" class="topnav">
    <a class="home-link" href="/">&nbsp;</a>
    <ul class="topnav-primary-list">
        <li class="desktop-primary-list">
            <a class="topnav-main-link {% if activeView === 'tutorials' %}topnav-active{% endif %}"href="/tutorials">Tutorials</a>
            <ul class="topnav-sub-list">
                <li><a class="topnav-sub-link" href="/tutorials/canvas/index">Canvas</a></li>
                <li><a class="topnav-sub-link" href="/tutorials/games/index">Games</a></li>
            </ul>
        </li>
        <li class="desktop-primary-list">
            <a class="topnav-main-link {% if activeView === 'games' %}topnav-active{% endif %}"href="/games">Games</a>
            <ul class="topnav-sub-list">
                <li><a class="topnav-sub-link" href="/games/action/index">Action</a></li>
                <li><a class="topnav-sub-link" href="/games/classics/index">Classics</a></li>
            </ul>
        </li>
        <li class="desktop-primary-list">
            <a class="topnav-main-link {% if activeView === 'apis' %}topnav-active{% endif %}"href="/apis">Api's</a>
            <ul class="topnav-sub-list">
            </ul>
        </li>
        <li class="desktop-primary-list">
            <a class="topnav-main-link {% if activeView === 'about' %}topnav-active{% endif %}"href="/about">About</a>
            <ul class="topnav-sub-list">
                <li><a class="topnav-sub-link" href="/about/site">About the site</a></li>
                <li><a class="topnav-sub-link" href="/about/me">About me</a></li>
                <li><a class="topnav-sub-link" href="/about/cv">My CV</a></li>
            </ul>
        </li>
        <li class="mobile-primary-list">
            <button aria-label="Menu" id="openMobileMenuButton" class="mobile-menu-button" type="button" name="button">
                <svg class="mobile-menu-button-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
            </button>
        </li>
    </ul>

{% include "nunjucks/partials/mobileNav.njk" %}

</nav>
<div class="clearfix"></div>
