<div id="fullCodeJs" class="full-code-js js-hidden">
{{ code.exampleCodeBlock('j', 1, [
{i: 0, t: 'kvodxvsv', c: ['var', ' canvas ', '= ', 'document', 'getElementById', '(', '\'demoCanvas\'', ');']},
{i: 0, t: 'kvodxvsv', c: ['var', ' ctx ', '= ', 'canvas', 'getContext', '(', '\'2d\'', ');']},
{},
{i: 0, t: 'dposv', c: ['ctx', 'fillStyle', ' = ', '\'rgba(23, 122, 183, 1)\'', ';']},
{i: 0, t: 'dmvnvnvdpvdpv', c: ['ctx', 'fillRect', '(', '0', ', ', '0', ', ', 'canvas', 'width', ', ', 'canvas', 'height', ');']},
{},
{i: 0, t: 'dmv', c: ['ctx', 'beginPath', '();']},
{i: 0, t: 'dposv', c: ['ctx', 'fillStyle',  ' = ', '\'red\'', ';']},
{i: 0, t: 'dmvnvnvnvnvnocvnv', c: ['ctx', 'arc', '(', '100', ', ', '150', ', ', '50', ', ', '0', ', ', '2', ' * ', 'Math', '.', 'PI', ');']},
{i: 0, t: 'dmv', c: ['ctx', 'fill', '();']},
{},
{i: 0, t: 'dposv', c: ['ctx', 'fillStyle',  ' = ', '\'green\'', ';']},
{i: 0, t: 'dmv', c: ['ctx', 'beginPath', '();']},
{i: 0, t: 'dmvnvnvnvnvcvnvnv', c: ['ctx', 'arc', '(', '300', ', ', '145', ', ', '50', ', ', '0', ', ', 'Math', '.', 'PI', ', ', 'true', ');']},
{i: 0, t: 'dmv', c: ['ctx', 'fill', '();']},
{i: 0, t: 'dposv', c: ['ctx', 'fillStyle',  ' = ', '\'lightgreen\'', ';']},
{i: 0, t: 'dmv', c: ['ctx', 'beginPath', '();']},
{i: 0, t: 'dmvnvnvnvnvcvnvnv', c: ['ctx', 'arc', '(', '300', ', ', '155', ', ', '50', ', ', '0', ', ', 'Math', '.', 'PI', ', ', 'false', ');']},
{i: 0, t: 'dmv', c: ['ctx', 'fill', '();']},
{},
{i: 0, t: 'dposv', c: ['ctx', 'fillStyle',  ' = ', '\'#FECB2F\'', ';']},
{i: 0, t: 'dmv', c: ['ctx', 'beginPath', '();']},
{i: 0, t: 'dmvnvnvnvmvnvmvnv', c: ['ctx', 'arc', '(', '500', ', ', '150', ', ', '50', ', ', 'degreesToRadians', '(', '30' ,'), ', 'degreesToRadians', '(', '330' ,'));']},
{i: 0, t: 'dmvnvnv', c: ['ctx', 'lineTo', '(', '500', ', ', '150', ');']},
{i: 0, t: 'dmv', c: ['ctx', 'fill', '();']},
{},
{i: 0, t: 'dposv', c: ['ctx', 'fillStyle',  ' = ', '\'#black\'', ';']},
{i: 0, t: 'dmv', c: ['ctx', 'beginPath', '();']},
{i: 0, t: 'dmvnvnvnvnvnocvnv', c: ['ctx', 'arc', '(', '510', ', ', '125', ', ', '7', ', ', '0', ', ', '2', ' * ', 'Math', '.', 'PI', ');']},
{i: 0, t: 'dmv', c: ['ctx', 'fill', '();']},
{},
{i: 0, t: 'kmv', c: ['function', ' degreesToRadians', '(degrees) {']},
{i: 4, t: 'kvocvponv', c: ['return', ' degrees', ' * ', 'Math', '.', 'PI', ' / ', '180', ';']},
{i: 0, t: 'v', c: ['}']},
{}
])}}
</div>
