{% extends 'nunjucks/templates/base.njk' %}

{% block title %}About - home{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}
{% include 'nunjucks/partials/topnav.njk' %}
    <div class="full-screen-canvas-wrapper">
        <canvas id="canvas1" class="layered-full-screen-canvas" width="300" height="300"></canvas>
    </div>
    <div class="about-flex-wrapper-main">
        <a class="about-main-link" href="/about/site">Site</a>
        <a class="about-main-link" href="/about/me">Me</a>
        <a class="about-main-link" href="/about/cv">CV</a>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/scripts/canvas/spinningParticles.js"></script>
{% endblock %}
