{{ code.exampleCodeBlock('j', 10, [
    {i: 0, t: 'dmvsvkv', c: ['cluster', 'on', '(', '\'exit\'', ',', ' function',  '(worker) {']},
    {i: 4, t: 'cvxvsvdpv', c: ['console', '.', 'log', '(', '\'Worker %d exited\'', ',', ' worker', 'id', ');']},
    {i: 4, t: 'dmv', c: ['cluster', 'fork', '();']},
    {i: 0, t: 'v', c: ['});']},
    {}
])}}
