{{ code.exampleCodeBlock('j', 1, [
    {i: 0, t: 'z', c: ['// app.js']},
    {i: 0, t: 'knomvsv', c: ['const', ' http ', '= ', 'require', '(', '\'http\'', ');']},
    {i: 0, t: 'knonv', c: ['const', ' port ', '= ', '3050',';']},
    {},
    {i: 0, t: 'kmovkv', c: ['const', ' requestHandler ', '= ', '(request, response)', ' => ', '{']},
    {i: 4, t: 'dmvsv', c: ['response', 'end ', '(', '\'Hello World\'', ');']},
    {i: 0, t: 'v', c: ['};']},
    {},
    {i: 0, t: 'knodmv', c: ['const', ' server ', '= ', 'http', 'createServer', '(requestHandler);']},
    {},
    {i: 0, t: 'dmvkv', c: ['server', 'listen ', '(port, (err)', ' => ', '{']},
    {i: 4, t: 'kv', c: ['if ', '(err) {']},
    {i: 8, t: 'kcvxvsv', c: ['return ', 'console', '.', 'log', '(', '\'Got an error\'', ', err);']},
    {i: 4, t: 'v', c: ['}']},
    {i: 4, t: 'kcvxvspspsv', c: ['return ', 'console', '.', 'log', '(', '`Server listening on ', '${', 'port', '}', '`', ');']},
    {i: 0, t: 'v', c: ['});']},
    {}
])}}
