{{ code.exampleCodeBlock('j', 1, [
    {i: 0, t: 'knomvsv', c: ['const', ' cluster ', '= ', 'require', '(', '\'cluster\'', ');']},
    {i: 0, t: 'knomvsv', c: ['const', ' os ', '= ', 'require', '(', '\'os\'', ');']}
])}}
