{{ code.exampleCodeBlock('j', 16, [
    {i: 0, t: 'kvdpv', c: ['if ', '(', 'cluster', 'isMaster', ') {']},
    {i: 4, t: 'knodmvpv', c: ['const ', 'cpuCount', ' = ', 'os', 'cpus', '().', 'length', ';']},
    {i: 4, t: 'kvkvonvovov', c: ['for', '(', 'let', ' i', ' = ', '0', '; i', ' < ', 'cpuCount; i', '++', ') {']},
    {i: 8, t: 'dmv', c: ['cluster', 'fork', '();']},
    {i: 4, t: 'v', c: ['}']},
    {i: 0, t: 'vkv', c: ['}', ' else ', '{']},
    {i: 4, t: 'z', c: ['// Code to run for each worker will go here']},
    {i: 0, t: 'v', c: ['}']},

    {}
])}}
