{{ code.exampleCodeBlock('j', 19, [
    {i: 0, t: 'kmokv', c: ['var', ' Ball', ' = ', 'function', '(x, y, vx, vy, invisible) {']},
    {i: 4, t: 'dpovodponv', c: ['this', 'x', ' = ', 'x', ' || ', 'canvas', 'width',  ' / ', '2', ';']},
    {i: 4, t: 'dpovodponv', c: ['this', 'y', ' = ', 'y', ' || ', 'canvas', 'height',  ' / ', '2', ';']},
    {i: 4, t: 'dponv', c: ['this', 'width', ' = ', '20', ';']},
    {i: 4, t: 'dponv', c: ['this', 'height', ' = ', '20', ';']},
    {i: 4, t: 'dpovovcvxvonononv', c: ['this', 'vx', ' = ', 'vx', ' || ', '(', 'Math', '.', 'random', '()', ' > ',  '0.5',  ' ? ',  '4', ' : ', '-4', ');']},
    {i: 4, t: 'dpovovcvxvonononv', c: ['this', 'vy', ' = ', 'vy', ' || ', '(', 'Math', '.', 'random', '()', ' > ',  '0.5',  ' ? ',  '4', ' : ', '-4', ');']},
    {i: 4, t: 'dponv', c: ['this', 'vyMax', ' = ', '8', ';']},
    {i: 4, t: 'dpovonv', c: ['this', 'invisible', ' = ', 'invisible', ' || ', 'false', ';']},
    {i: 0, t: 'v', c: ['};']}
])}}
