{{ code.exampleCodeBlock('j', 1, [
{i: 0, t: 'vkv', c: ['(', 'function', '() {']},
{i: 4, t: 'kvodxvsv', c: ['var', ' canvas ', '= ', 'document', 'getElementById', '(', '\'demoCanvas\'', ');']},
{i: 4, t: 'kvodxvsv', c: ['var', ' ctx ', '= ', 'canvas', 'getContext', '(', '\'2d\'', ');']},
{i: 4, t: 'dposv', c: ['ctx', 'fillStyle',  ' = ', '\'rgb(255, 255, 255)\'', ';']},
{i: 4, t: 'dposv', c: ['ctx', 'font',  ' = ', '\'bold 48px Arial Black\'', ';']},
{i: 4, t: 'kv', c: ['var', ' animation;']},
{i: 4, t: 'kvonv', c: ['var', ' lastTime ', '= ', '0', ';']},
{i: 4, t: 'kvonv', c: ['var', ' deltaTime ', '= ', '0', ';']},
{i: 4, t: 'kvonv', c: ['var', ' worldWidth ', '= ', '16', ';']},
{i: 4, t: 'kvonv', c: ['var', ' worldHeight ', '= ', '9', ';']},
{i: 4, t: 'kvodpov', c: ['var', ' horizontalUnit ', '= ', 'canvas', 'width', ' / ', 'worldWidth;']},
{i: 4, t: 'kvodpov', c: ['var', ' verticalUnit ', '= ', 'canvas', 'height', ' / ', 'worldHeight;']},
{i: 4, t: 'kvov', c: ['var', ' players ', '= ', '[];']},
{i: 4, t: 'kv', c: ['var', ' ball;']},
{i: 4, t: 'kv', c: ['var', ' invisiball;']},
{i: 4, t: 'kvonv', c: ['var', ' borderWidth ', '= ', '10', ';']},
{i: 4, t: 'kvonv', c: ['var', ' winScore ', '= ', '10', ';']},
{i: 0, t: 'v', c: ['})();']}

])}}
