{{ code.exampleCodeBlock('j', 76, [
    {i: 0, t: 'ddmokv', c: ['Player', 'prototype', 'update', ' = ', 'function', '() {']},
    {i: 4, t: 'kvodpodponv', c: ['var', ' center', ' = ', 'this', 'y', ' + ', 'this', 'width', ' / ', '2', ';']},
    {i: 4, t: 'kvodpovov', c: ['var', ' increment', ' = ', 'this', 'vy', ' * ', 'verticalUnit', ' * ', 'deltaTime;']},
    {i: 4, t: 'kvdpv', c: ['if', '(', 'this', 'isHuman', ') {']},
    {i: 8, t: 'dpodpovodpovonv', c: ['this', 'y', ' += ', 'this', 'upPressed', ' ? -', 'increment', ' : ', 'this', 'downPressed', ' ? ', 'increment', ' : ', '0', ';']},
    {i: 4, t: 'vkv', c: ['} ', 'else ', '{']},
    {i: 8, t: 'kvdposodponodponodposv', c: ['if', '(', 'this', 'courtSide', ' === ', '\'right\'', ' && ', 'ball', 'vx', ' > ', '0', ' || ',
        'ball', 'vx', ' < ', '0', ' && ', 'this', 'courtSide', ' === ', '\'left\'', ') {']},
    {i: 12, t: 'dpovovdpovovovovdpovovov', c: ['this', 'y', ' += ', 'invisiball', ' ? ', '(', 'invisiball', 'y', ' >= ', 'center', ' ? ', 'increment', ' : -', 'increment)',
        ' : ', '(', 'ball', 'y', ' >= ', 'center', ' ? ', 'increment', ' : -', 'increment);']},
    {i: 8, t: 'v', c: ['}']},
    {i: 4, t: 'v', c: ['}']},
    {i: 4, t: 'dpodpovovodpodpodpovodpodpovodpv', c: ['this', 'y', ' = ', 'this', 'y', ' < ', 'borderWidth', ' ? ', 'borderWidth', ' : ', 'this', 'y', ' + ',
        'this', 'height', ' < ', 'canvas', 'height', ' - ', 'borderWidth', ' ? ', 'this', 'y', ' : ', 'canvas', 'height', ' - ', 'borderWidth', ' - ', 'this', 'height', ';']},
    {i: 0, t: 'v', c: ['};']},
    {}
])}}
