{{ code.exampleCodeBlock('j', 132, [
    {i: 0, t: 'kmv', c: ['function', ' init', '() {']},
    {i: 4, t: 'dponv', c: ['players', 'length', ' = ', '0', ';']},
    {i: 4, t: 'vokcv', c: ['ball', ' = ', 'new', ' Ball', '();']},
    {i: 4, t: 'dxvkcvsvnvkcvsvnv', c: ['players', 'push', '(', 'new', ' Player', '(', '\'left\'', ', ', 'true', '), ', 'new', ' Player', '(', '\'right\'', ', ', 'false', '));']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' reset', '() {']},
    {i: 4, t: 'vokcv', c: ['ball', ' = ', 'new', ' Ball', '();']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' main', '(time) {']},
    {i: 4, t: 'dmvnvnvdpvdpv', c: ['ctx', 'clearRect', '(' , '0', ', ', '0', ', ', 'canvas', 'width', ', ', 'canvas' , 'height', ');']},
    {i: 4, t: 'mv', c: ['setDeltaTime', '(time);']},
    {i: 4, t: 'mv', c: ['renderBackground', '();']},
    {i: 4, t: 'mv', c: ['renderCentralLine', '();']},
    {i: 4, t: 'mv', c: ['renderBorder', '();']},
    {i: 4, t: 'mv', c: ['renderScore', '();']},
    {i: 4, t: 'dmv', c: ['ball', 'update', '();']},
    {i: 4, t: 'mvdpvdpvdpvdpv', c: ['renderRect', '(', 'ball', 'x', ', ', 'ball', 'y', ', ', 'ball', 'width', ', ', 'ball', 'height' ,');']},
    {i: 4, t: 'dxvkv', c: ['players', 'forEach', '(', 'function', '(player) {']},
    {i: 4, t: 'dmv', c: ['player', 'update', '();']},
    {i: 8, t: 'mvdpvdpvdpvdpv', c: ['renderRect', '(', 'player', 'x', ', ', 'player', 'y', ', ', 'player', 'width', ', ', 'player', 'height' ,');']},
    {i: 4, t: 'v', c: ['});']},
    {i: 4, t: 'kv', c: ['if', '(invisiball) {']},
    {i: 8, t: 'dmv', c: ['invisiball', 'update', '();']},
    {i: 4, t: 'v', c: ['}']},
    {i: 4, t: 'mv', c: ['requestAnimationFrame', '(main);']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'mv', c: ['init', '();']},
    {i: 0, t: 'vomv', c: ['animation', ' = ', 'requestAnimationFrame', '(main);']},
    {}
])}}
