{{ code.exampleCodeBlock('j', 164, [
    {i: 0, t: 'dxvsvkv', c: ['document', 'addEventListener', '(', '\'keydown\'', ', ', 'function', '(e) {']},
    {i: 4, t: 'kvdponv', c: ['if', '(', 'e', 'keyCode', ' === ', '38', ') {']},
    {i: 8, t: 'dxv', c: ['e', 'preventDefault', '();']},
    {i: 8, t: 'vnvponv', c: ['players[', '0', '].', 'upPressed', ' = ', 'true', ';']},
    {i: 4, t: 'vkvdponv', c: ['} ', 'else if', '(', 'e', 'keyCode', ' === ', '40', ') {']},
    {i: 8, t: 'dxv', c: ['e', 'preventDefault', '();']},
    {i: 8, t: 'vnvponv', c: ['players[', '0', '].', 'downPressed', ' = ', 'true', ';']},
    {i: 4, t: 'v', c: ['}']},
    {i: 0, t: 'v', c: ['});']},
    {},
    {i: 0, t: 'dxvsvkv', c: ['document', 'addEventListener', '(', '\'keyup\'', ', ', 'function', '(e) {']},
    {i: 4, t: 'kvdponv', c: ['if', '(', 'e', 'keyCode', ' === ', '38', ') {']},
    {i: 8, t: 'vnvponv', c: ['players[', '0', '].', 'upPressed', ' = ', 'false', ';']},
    {i: 4, t: 'vkvdponv', c: ['} ', 'else if', '(', 'e', 'keyCode', ' === ', '40', ') {']},
    {i: 8, t: 'vnvponv', c: ['players[', '0', '].', 'downPressed', ' = ', 'false', ';']},
    {i: 4, t: 'v', c: ['}']},
    {i: 0, t: 'v', c: ['});']},
    {}
])}}
