{{ code.exampleCodeBlock('j', 56, [
    {i: 0, t: 'kmv', c: ['function', ' renderRect', '(x, y, width, height) {']},
    {i: 4, t: 'dmv', c: ['ctx', 'beginPath', '();']},
    {i: 4, t: 'dmv', c: ['ctx', 'rect', '(x, y, width, height);']},
    {i: 4, t: 'dmv', c: ['ctx', 'fill', '();']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' renderBackground', '(x, y, width, height) {']},
    {i: 4, t: 'dposv', c: ['ctx', 'fillStyle',  ' = ', '\'rgba(22, 22, 22, 1)\'', ';']},
    {i: 4, t: 'mvnvnvdpvdpv', c: ['renderRect', '(', '0', ', ', '0', ', ', 'canvas', 'width', ', ', 'canvas', 'height' ,');']},
    {i: 4, t: 'dposv', c: ['ctx', 'fillStyle',  ' = ', '\'rgba(255, 255, 255, 1)\'', ';']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' renderCentralLine', '() {']},
    {i: 4, t: 'kvkvonvovov', c: ['for', '(', 'var', ' i', ' = ', '0', '; i', ' <= ', 'worldHeight; i', '++', ') {']},
    {i: 8, t: 'mvdpononvovonvnvonv', c: ['renderRect', '(', 'canvas', 'width', ' / ', '2', ' - ', '8', ', i', ' * ', 'verticalUnit', ' + ', '6', ', ', '16', ', verticalUnit', ' / ', '1.75', ');']},
    {i: 4, t: 'v', c: ['}']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' renderBorder', '() {']},
    {i: 4, t: 'mvnvnvdpv', c: ['renderRect', '(', '0', ', ', '0', ', ', 'canvas', 'width', ', borderWidth);']},
    {i: 4, t: 'mvnvdpovdpv', c: ['renderRect', '(', '0', ', ', 'canvas', 'height', ' - ', 'borderWidth, ', 'canvas', 'width', ', borderWidth);']},
    {i: 0, t: 'v', c: ['}']},
    {},
    {i: 0, t: 'kmv', c: ['function', ' renderScore', '() {']},
    {i: 4, t: 'dposv', c: ['ctx', 'textBaseline',  ' = ', '\'hanging\'', ';']},
    {i: 4, t: 'dposv', c: ['ctx', 'textAlign',  ' = ', '\'end\'', ';']},
    {i: 4, t: 'dmvnvpvdponov', c: ['ctx', 'fillText', '(players[', '0', '].', 'score', ', ', 'canvas', 'width', ' / ', '2', ' - ', 'borderWidth, borderWidth);']},
    {i: 4, t: 'dposv', c: ['ctx', 'textAlign',  ' = ', '\'start\'', ';']},
    {i: 4, t: 'dmvnvpvdponovvv', c: ['ctx', 'fillText', '(players[', '1', '].', 'score', ', ', 'canvas', 'width', ' / ', '2', ' + ', 'borderWidth', ', ', 'borderWidth);']},
    {i: 0, t: 'v', c: ['}']},
    {}
])}}
