{{ code.exampleCodeBlock('j', 29, [
    {i: 0, t: 'kmokv', c: ['var', ' Player', ' = ', 'function', '(courtSide, isHuman) {']},
    {i: 4, t: 'dpov', c: ['this', 'courtSide', ' = ', 'courtSide;']},
    {i: 4, t: 'dpovosonodponv', c: ['this', 'x', ' = ', 'courtSide', ' === ', '\'left\'', ' ? ',  ' 10 ', ' : ', 'canvas', 'width', ' - ', '30', ';']},
    {i: 4, t: 'dpodponv', c: ['this', 'y', ' = ', 'canvas', 'height',  ' / ', '2', ';']},
    {i: 4, t: 'dponv', c: ['this', 'width', ' = ', '15', ';']},
    {i: 4, t: 'dponv', c: ['this', 'height', ' = ', '80', ';']},
    {i: 4, t: 'dponv', c: ['this', 'vy', ' = ', '4;']},
    {i: 4, t: 'dponv', c: ['this', 'upPressed', ' = ', 'false', ';']},
    {i: 4, t: 'dponv', c: ['this', 'downPressed', ' = ', 'false', ';']},
    {i: 4, t: 'dpov', c: ['this', 'isHuman', ' = ', 'isHuman;']},
    {i: 4, t: 'dponv', c: ['this', 'score', ' = ',  '0', ';']},
    {i: 0, t: 'v', c: ['};']}
])}}
