{% extends 'nunjucks/templates/base.njk' %}

{% block title %}Home{% endblock %}

{% block header %}
    {% include 'nunjucks/partials/topnav.njk' %}
{% endblock %}

{% block main %}
    <div>
        <div class="full-screen-canvas-wrapper">
            <canvas id="timescapeBackgroundCanvas" class="layered-full-screen-canvas" width="300" height="300"></canvas>
            <canvas id="timescapeForegroundCanvas" class="layered-full-screen-canvas" width="300" height="300"></canvas>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/scripts/canvas/starryNight.js"></script>
{% endblock %}
