{% extends 'nunjucks/templates/base.njk' %}

{% block title %}Home{% endblock %}
{% block body_class %}dark-bg{% endblock %}

{% block body %}
    <div class="dark-bg">
        <div class="full-screen-canvas-wrapper">
            <canvas id="starryNightCanvas" class="layered-full-screen-canvas" width="300" height="300"></canvas>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/scripts/canvas/starryNight.js"></script>
{% endblock %}
