{% extends 'nunjucks/templates/base.njk' %}

{% block title %}Random{% endblock %}
{# {% block body_class %}dark-bg{% endblock %} #}

{% block main %}
<nav class="random-page-nav">
    <a href="/" class="random-page-home" type="button" name="button"> </a>
    <a href="/random" class="random-page-refresh" type="button" name="button"> </a>
</nav>

<div class="full-screen-canvas-wrapper">
    {% for i in range(0, canvasAmount) %}
    <canvas id="canvas{{ loop.index }}" class="layered-full-screen-canvas" width="300" height="300"></canvas>
    {% endfor %}
</div>

{% if controls %}
    {% include "nunjucks/partials/randomCanvasControls.njk" %}
{% endif %}


{% endblock %}

{% block scripts %}
    {% if webgl %}
        <script type="text/javascript" src="/scripts/glmatrix-min.js"></script>
    {% endif %}
    <script type="text/javascript" src="/scripts/canvas/random/{{ canvasName }}.js"></script>
{% endblock %}
