{% extends 'nunjucks/templates/base.njk' %}

{% block title %}Tutorials - gmaes - home{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/tutorials.css">
{% endblock %}

{% block body %}
{% include 'nunjucks/partials/topnav.njk' %}
<div class="temp-wrapper">
    <a href="/tutorials/games/display-fps-counter-tutorial">FPS counter</a>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
