{% extends 'nunjucks/templates/base.njk' %}

{% import 'nunjucks/macros/tutorials/code.njk' as code %}
{% import 'nunjucks/macros/tutorials/navigation.njk' as navigation %}
{% import 'nunjucks/macros/typography.njk' as typography %}

{% block title %}{{ content.pageTitle }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/tutorials.css">
{% endblock %}

{% block header %}
    {% include 'nunjucks/partials/topnav.njk' %}
{% endblock %}

{% block main %}
<main class="tutorials-main-wrapper">
    <div class="main-heading-wrapper">
        {{ typography.heading(1, content.mainHeading, false, 'main-heading') }}
        {{ typography.heading(2, content.authorHeading, false, 'main-subheading')}}
    </div>
    {{ navigation.internalPage([{introduction: content.pageLink1},{variables: content.pageLink2},
        {updateMethods: content.pageLink3}, {renderMethods: content.pageLink4}, {theCode: content.pageLink5}]) }}
    <div class="display-canvas-wrapper">
        <canvas class="demo-canvas centred-display-canvas" id="demoCanvas2" width="700" height="300"></canvas>
        <button id="increaseScoreButton" class="display-canvas-central-button" type="button" name="button">Click to score</button>
    </div>

    {{ typography.heading(2, content.subHeading1, 'introduction', 'anchor-point') }}
    {{ typography.parapgraph(content.p1) }}
    {{ typography.parapgraph(content.p2) }}
    {% include "nunjucks/partials/tutorials/games/base-html.njk" %}
    {{ typography.parapgraph(content.p3) }}
    {{ typography.parapgraph(content.p4) }}

    {{ typography.rule('tutorials-seperator')}}
    {{ typography.heading(2, content.subHeading2, 'variables', 'anchor-point') }}
    {{ typography.parapgraph(content.p5) }}
    {% include "nunjucks/partials/tutorials/games/keeping-score/example-1.njk" %}
    {{ typography.parapgraph(content.p6) }}
    {{ typography.parapgraph(content.p7) }}
    {{ typography.rule('tutorials-seperator')}}

    {{ typography.heading(2, content.subHeading3, 'updateMethods', 'anchor-point') }}
    {{ typography.parapgraph(content.p8) }}
    {% include "nunjucks/partials/tutorials/games/keeping-score/example-2.njk" %}
    {{ typography.parapgraph(content.p9) }}

    {{ typography.rule('tutorials-seperator')}}
    {{ typography.heading(2, content.subHeading4, 'renderMethods', 'anchor-point') }}
    {{ typography.parapgraph(content.p10) }}
    {% include "nunjucks/partials/tutorials/games/keeping-score/example-3.njk" %}


    {{ typography.parapgraph(content.p11) }}
    {{ typography.parapgraph(content.p12) }}
    {{ typography.parapgraph(content.p13) }}
    {% include "nunjucks/partials/tutorials/games/keeping-score/example-4.njk" %}
    {{ typography.parapgraph(content.p14) }}
    {{ typography.parapgraph(content.p15) }}
    {{ typography.parapgraph(content.p16) }}
    {{ typography.rule('tutorials-seperator')}}


    {{ typography.heading(2, content.subHeading5, 'endResult') }}
    {{ typography.parapgraph(content.p17) }}
    {{ typography.rule('tutorials-seperator')}}


    {{ typography.heading(2, content.subHeading6, 'theCode', 'anchor-point') }}
    <div class="full-code-wrapper">
        {% include "nunjucks/partials/tutorials/code-buttons-html-css-js.njk" %}
        {% include "nunjucks/partials/tutorials/base-html-code.njk" %}
        {% include "nunjucks/partials/tutorials/empty-css-code-block.njk" %}
        {% include "nunjucks/partials/tutorials/games/keeping-score/full-js.njk" %}
        <div id="fullCodeResult" class="full-code-result">
            <canvas class="demo-canvas space-background-tutorial-canvas" id="demoCanvas" width="700" height="300"></canvas>
        </div>
    </div>

    {{ typography.rule('tutorials-seperator')}}
    <div class="linked-tutorials">
        <h3 class="linked-tutorials-text">{{ content.otherTutorials }}</h3>
        {{ navigation.indexNavRow([
            {href: '/tutorials/games/display-fps-counter', title: 'Displaying FPS', img: '/images/tutorials/games/fps.png'},
            {href: '/tutorials/canvas/game-timer', title: 'Game timer', img: '/images/tutorials/games/game-timer.png'}
        ], 'small') }}
    </div>

</main>
{% endblock %}

{% block footer %}
{% include "nunjucks/partials/footer.njk" %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/scripts/tutorials/main.js"></script>
    <script type="text/javascript" src="/scripts/tutorials/games/keeping-score.js"></script>
{% endblock %}
